.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-right: -15px;
  padding-left: -15px; }

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%; }

@media (min-width: 1800px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-xl-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .order-xl-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .order-xl-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13; }
  .order-xl-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0; }
  .order-xl-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .order-xl-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .order-xl-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .order-xl-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }
  .order-xl-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5; }
  .order-xl-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6; }
  .order-xl-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7; }
  .order-xl-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8; }
  .order-xl-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9; }
  .order-xl-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10; }
  .order-xl-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11; }
  .order-xl-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12; }
  .offset-xl-0 {
    margin-left: 0; }
  .offset-xl-1 {
    margin-left: 8.333333%; }
  .offset-xl-2 {
    margin-left: 16.666667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.333333%; }
  .offset-xl-5 {
    margin-left: 41.666667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.333333%; }
  .offset-xl-8 {
    margin-left: 66.666667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.333333%; }
  .offset-xl-11 {
    margin-left: 91.666667%; } }

@media (min-width: 1200px) and (max-width: 1800px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-lg-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .order-lg-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .order-lg-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13; }
  .order-lg-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0; }
  .order-lg-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .order-lg-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .order-lg-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .order-lg-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }
  .order-lg-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5; }
  .order-lg-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6; }
  .order-lg-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7; }
  .order-lg-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8; }
  .order-lg-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9; }
  .order-lg-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10; }
  .order-lg-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11; }
  .order-lg-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12; }
  .offset-lg-0 {
    margin-left: 0; }
  .offset-lg-1 {
    margin-left: 8.333333%; }
  .offset-lg-2 {
    margin-left: 16.666667%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .offset-lg-4 {
    margin-left: 33.333333%; }
  .offset-lg-5 {
    margin-left: 41.666667%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .offset-lg-7 {
    margin-left: 58.333333%; }
  .offset-lg-8 {
    margin-left: 66.666667%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .offset-lg-10 {
    margin-left: 83.333333%; }
  .offset-lg-11 {
    margin-left: 91.666667%; } }

@media (min-width: 1025px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-md-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .order-md-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .order-md-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13; }
  .order-md-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0; }
  .order-md-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .order-md-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .order-md-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .order-md-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }
  .order-md-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5; }
  .order-md-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6; }
  .order-md-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7; }
  .order-md-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8; }
  .order-md-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9; }
  .order-md-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10; }
  .order-md-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11; }
  .order-md-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12; }
  .offset-md-0 {
    margin-left: 0; }
  .offset-md-1 {
    margin-left: 8.333333%; }
  .offset-md-2 {
    margin-left: 16.666667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.333333%; }
  .offset-md-5 {
    margin-left: 41.666667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.333333%; }
  .offset-md-8 {
    margin-left: 66.666667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.333333%; }
  .offset-md-11 {
    margin-left: 91.666667%; } }

@media (min-width: 600px) and (max-width: 1024px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-sm-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .order-sm-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .order-sm-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13; }
  .order-sm-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0; }
  .order-sm-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .order-sm-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .order-sm-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .order-sm-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }
  .order-sm-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5; }
  .order-sm-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6; }
  .order-sm-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7; }
  .order-sm-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8; }
  .order-sm-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9; }
  .order-sm-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10; }
  .order-sm-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11; }
  .order-sm-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12; }
  .offset-sm-0 {
    margin-left: 0; }
  .offset-sm-1 {
    margin-left: 8.333333%; }
  .offset-sm-2 {
    margin-left: 16.666667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.333333%; }
  .offset-sm-5 {
    margin-left: 41.666667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.333333%; }
  .offset-sm-8 {
    margin-left: 66.666667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.333333%; }
  .offset-sm-11 {
    margin-left: 91.666667%; } }

@media (min-width: 319px) and (max-width: 600px) {
  .col-xs {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-xs-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-xs-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-xs-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-xs-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xs-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-xs-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-xs-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xs-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-xs-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-xs-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xs-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-xs-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-xs-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .order-xs-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .order-xs-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13; }
  .order-xs-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0; }
  .order-xs-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .order-xs-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .order-xs-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .order-xs-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }
  .order-xs-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5; }
  .order-xs-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6; }
  .order-xs-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7; }
  .order-xs-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8; }
  .order-xs-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9; }
  .order-xs-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10; }
  .order-xs-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11; }
  .order-xs-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12; }
  .offset-xs-0 {
    margin-left: 0; }
  .offset-xs-1 {
    margin-left: 8.333333%; }
  .offset-xs-2 {
    margin-left: 16.666667%; }
  .offset-xs-3 {
    margin-left: 25%; }
  .offset-xs-4 {
    margin-left: 33.333333%; }
  .offset-xs-5 {
    margin-left: 41.666667%; }
  .offset-xs-6 {
    margin-left: 50%; }
  .offset-xs-7 {
    margin-left: 58.333333%; }
  .offset-xs-8 {
    margin-left: 66.666667%; }
  .offset-xs-9 {
    margin-left: 75%; }
  .offset-xs-10 {
    margin-left: 83.333333%; }
  .offset-xs-11 {
    margin-left: 91.666667%; } }

.col-md-11,
.col-md-9,
.col-md-4,
.col-md-3,
.col-md-1 {
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

body {
  font-family: 'Montserrat', Georgia, 'Times New Roman', Times, serif;
  background-color: #f5f7fa; }

.notification {
  color: #fff;
  font-size: 12px; }
  .notification--number {
    background-color: #00b5b8;
    margin-right: 10px;
    padding: 1px 6px;
    border-radius: 50%; }
    .notification--number--2 {
      padding: 1px 5px;
      background-color: #ffa87d;
      border-radius: 10px; }
  .notification--new {
    background-color: #ff7588;
    margin-right: 10px;
    padding: 2px 5px;
    border-radius: 10px; }
  .notification--hot {
    background-color: #16d39a;
    margin-right: 10px;
    padding: 2px 7px;
    border-radius: 10px; }
  .notification--active {
    background-color: #16d39a;
    padding: 5px;
    border-radius: 5px; }
  .notification--reported {
    background-color: #ffa87d;
    padding: 5px;
    border-radius: 5px; }
  .notification--block {
    background-color: #ff7588;
    padding: 5px;
    border-radius: 5px; }
  .notification--completed {
    background-color: #16d39a;
    padding: 5px;
    border-radius: 50px; }

.task-before, .maincontent__tasks li:first-child::before, .maincontent__tasks li:nth-child(2)::before, .maincontent__tasks li:nth-child(3)::before, .maincontent__tasks li:last-child::before {
  position: absolute;
  top: 0;
  right: initial;
  bottom: initial;
  left: 0;
  height: 15px;
  width: 15px;
  content: '';
  border-radius: 50%; }

.task-after, .maincontent__tasks li:first-child::after, .maincontent__tasks li:nth-child(2)::after, .maincontent__tasks li:nth-child(3)::after {
  position: absolute;
  top: 15px;
  right: initial;
  bottom: initial;
  left: 7px;
  height: 100%;
  width: 1px;
  content: '';
  background-color: #dfe3e7; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.nav {
  width: 100%; }
  .nav__sticky {
    position: fixed;
    top: 0;
    right: 0;
    bottom: initial;
    left: initial;
    background-color: #fff;
    box-shadow: 4px 4px 20px 2px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 10; }
    .nav__sticky > div > div {
      padding: 0; }
  .nav__sidebar {
    height: 55px;
    width: 240px;
    background-color: #404e67;
    color: #fff;
    align-items: center;
    padding: 0;
    font-size: 24px; }
    .nav__sidebar h2 {
      font-size: 24px; }
  .nav__mainside {
    align-items: center;
    height: 55px; }
    .nav__mainside > div:first-child {
      padding: 0;
      height: 100%; }
      .nav__mainside > div:first-child > div {
        color: #404e67;
        align-items: center;
        height: 100%; }
        .nav__mainside > div:first-child > div a {
          color: #404e67;
          padding: 10px;
          font-size: 14px; }
          .nav__mainside > div:first-child > div a i {
            padding-left: 5px;
            font-size: 10px; }
        .nav__mainside > div:first-child > div > i {
          padding: 10px; }
    .nav__mainside > div:last-child {
      height: 100%;
      padding: 0; }
      .nav__mainside > div:last-child i {
        color: #404e67;
        font-size: 16px; }
      .nav__mainside > div:last-child li {
        padding: 0; }
      .nav__mainside > div:last-child ul {
        justify-content: flex-end;
        align-items: center;
        height: 100%; }
        .nav__mainside > div:last-child ul li:first-child a {
          align-items: center; }
        .nav__mainside > div:last-child ul li:first-child img {
          height: 18px;
          width: 18px;
          margin-right: 10px; }
        .nav__mainside > div:last-child ul li:first-child i {
          font-size: 10px; }
        .nav__mainside > div:last-child ul li:nth-child(2) div {
          position: relative;
          top: initial;
          right: initial;
          bottom: initial;
          left: initial;
          margin: 0 10px; }
          .nav__mainside > div:last-child ul li:nth-child(2) div i::after {
            position: absolute;
            top: initial;
            right: initial;
            bottom: 13px;
            left: 9px;
            background-color: #ff7588;
            color: #fff;
            padding: 3px 5px;
            font-size: 10px;
            border-radius: 50%;
            content: '5'; }
        .nav__mainside > div:last-child ul li:nth-child(3) div {
          position: relative;
          top: initial;
          right: initial;
          bottom: initial;
          left: initial;
          margin: 0 10px; }
          .nav__mainside > div:last-child ul li:nth-child(3) div i::after {
            position: absolute;
            top: initial;
            right: initial;
            bottom: 13px;
            left: 10px;
            color: #fff;
            background-color: #ffa87d;
            padding: 3px 5px;
            font-size: 10px;
            border-radius: 50%;
            content: '3'; }
        .nav__mainside > div:last-child ul li:last-child a {
          display: inline-block; }
        .nav__mainside > div:last-child ul span {
          padding: 0 5px;
          font-size: 14px; }
          .nav__mainside > div:last-child ul span + i {
            font-size: 10px; }
        .nav__mainside > div:last-child ul a {
          color: #404e67; }
          .nav__mainside > div:last-child ul a div {
            align-items: center;
            padding: 0; }
  .nav__user {
    position: relative;
    top: initial;
    right: initial;
    bottom: initial;
    left: initial; }
    .nav__user img {
      height: 32px;
      width: 32px;
      padding: 0;
      border-radius: 50%; }
    .nav__user::after {
      position: absolute;
      top: initial;
      right: 0px;
      bottom: 3px;
      left: initial;
      height: 10px;
      width: 10px;
      background-color: #16d39a;
      content: '';
      border-radius: 50%; }

.sidebar {
  position: fixed;
  top: 0px;
  right: initial;
  bottom: initial 0px;
  left: initial;
  height: 100vh;
  width: 240px;
  background-color: #404e67;
  color: #fff;
  overflow-y: scroll;
  padding-top: 54px; }
  .sidebar::-webkit-scrollbar {
    width: 7px; }
  .sidebar::-webkit-scrollbar-track {
    background: #404e67; }
  .sidebar::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 20px;
    visibility: hidden; }
  .sidebar:hover::-webkit-scrollbar-thumb {
    visibility: visible; }
  .sidebar h5, .sidebar .maincontent__users table tr > td:nth-child(2) span, .maincontent__users table tr > td:nth-child(2) .sidebar span, .sidebar .maincontent__users table tr > td:nth-child(3) span, .maincontent__users table tr > td:nth-child(3) .sidebar span, .sidebar .maincontent__users table tr > td:nth-child(4), .maincontent__users table .sidebar tr > td:nth-child(4) {
    font-size: 14px;
    font-weight: bold;
    color: #dcdcdc;
    text-transform: uppercase;
    padding: 20px 20px 10px 10px; }
  .sidebar li {
    justify-content: space-between;
    cursor: pointer;
    padding: 10px 10px 10px 10px; }
    .sidebar li:hover {
      background-color: #38445a; }
    .sidebar li h6 {
      font-size: 14px;
      font-weight: lighter; }
    .sidebar li i {
      padding-right: 10px;
      font-size: 15px; }
  .sidebar__apps li {
    justify-content: flex-start; }
    .sidebar__apps li:nth-child(7), .sidebar__apps li:last-child {
      justify-content: space-between; }
  .sidebar__pages li:nth-child(2), .sidebar__pages li:last-child {
    justify-content: flex-start; }
  .sidebar__others li {
    justify-content: flex-start; }
    .sidebar__others li:first-child {
      justify-content: space-between; }

.maincontent {
  padding-top: 55px;
  padding-left: 240px; }
  .maincontent > div {
    box-shadow: 4px 4px 20px 2px rgba(0, 0, 0, 0.1); }
  .maincontent__button {
    position: fixed;
    top: initial;
    right: 30px;
    bottom: 40px;
    left: initial;
    display: inline-block;
    background-color: #9C27B0;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    z-index: 5; }
    .maincontent__button a {
      color: #fff; }
  .maincontent__setting {
    position: fixed;
    top: initial;
    right: 0px;
    bottom: 60%;
    left: initial;
    display: inline-block;
    background-color: #ff7588;
    padding: 15px 15px;
    font-size: 14px;
    z-index: 5; }
    .maincontent__setting a {
      color: #fff; }
    .maincontent__setting i {
      -webkit-animation: fa-spin 5s infinite; }
  .maincontent__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 25px; }
    .maincontent__grid > div {
      background-color: #fff; }
  .maincontent__statistics {
    align-items: center;
    grid-column: 1 / 5;
    height: 115px; }
    .maincontent__statistics > div > div {
      border-right: 1px solid #ECEFF1;
      justify-content: space-around; }
      .maincontent__statistics > div > div h2 {
        color: #404e67;
        font-size: 26.5px; }
      .maincontent__statistics > div > div h5, .maincontent__statistics > div > div .maincontent__users table tr > td:nth-child(2) span, .maincontent__users table tr > td:nth-child(2) .maincontent__statistics > div > div span, .maincontent__statistics > div > div .maincontent__users table tr > td:nth-child(3) span, .maincontent__users table tr > td:nth-child(3) .maincontent__statistics > div > div span, .maincontent__statistics > div > div .maincontent__users table tr > td:nth-child(4), .maincontent__users table .maincontent__statistics > div > div tr > td:nth-child(4) {
        font-size: 14px;
        font-weight: 100;
        font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        color: #babfc7; }
      .maincontent__statistics > div > div i {
        font-size: 32px; }
      .maincontent__statistics > div > div > div {
        font-size: 14px; }
        .maincontent__statistics > div > div > div i {
          font-size: 14px; }
      .maincontent__statistics > div > div > :first-child {
        color: #00b5b8;
        background-color: #f5f7fa;
        padding: 20px; }
    .maincontent__statistics > div:nth-child(odd) > div > div:last-child {
      color: #00b5b8; }
    .maincontent__statistics > div:nth-child(even) > div > div:last-child {
      color: #ff7588; }
    .maincontent__statistics > div:nth-child(2) > div > i {
      color: #ff7588; }
    .maincontent__statistics > div:nth-child(3) > div > i {
      color: #16d39a; }
    .maincontent__statistics > div:last-child > div {
      border: none; }
      .maincontent__statistics > div:last-child > div > i {
        color: #ffa87d; }
  .maincontent__power {
    grid-column: 1 / 3;
    height: 440px; }
    .maincontent__power img {
      height: 370px; }
    .maincontent__power > div {
      justify-content: space-between;
      padding: 15px; }
      .maincontent__power > div > h5, .maincontent__users table tr > td:nth-child(2) .maincontent__power > div > span, .maincontent__users table tr > td:nth-child(3) .maincontent__power > div > span {
        font-size: 18px;
        font-weight: 500;
        color: #404e67; }
        .maincontent__power > div > h5 span, .maincontent__users table tr > td:nth-child(2) .maincontent__power > div > span span, .maincontent__users table tr > td:nth-child(3) .maincontent__power > div > span span {
          font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
          font-size: 14px; }
      .maincontent__power > div > div > div {
        justify-content: flex-end; }
      .maincontent__power > div > div h5, .maincontent__power > div > div .maincontent__users table tr > td:nth-child(2) span, .maincontent__users table tr > td:nth-child(2) .maincontent__power > div > div span, .maincontent__power > div > div .maincontent__users table tr > td:nth-child(3) span, .maincontent__users table tr > td:nth-child(3) .maincontent__power > div > div span, .maincontent__power > div > div .maincontent__users table tr > td:nth-child(4), .maincontent__users table .maincontent__power > div > div tr > td:nth-child(4) {
        font-size: 16px;
        font-weight: 500;
        color: #404e67;
        padding-right: 15px; }
        .maincontent__power > div > div h5:last-child, .maincontent__power > div > div .maincontent__users table tr > td:nth-child(2) span:last-child, .maincontent__users table tr > td:nth-child(2) .maincontent__power > div > div span:last-child, .maincontent__power > div > div .maincontent__users table tr > td:nth-child(3) span:last-child, .maincontent__users table tr > td:nth-child(3) .maincontent__power > div > div span:last-child, .maincontent__power > div > div .maincontent__users table tr > td:last-child:nth-child(4), .maincontent__users table .maincontent__power > div > div tr > td:last-child:nth-child(4) {
          font-weight: 100;
          color: #646464; }
  .maincontent__sales {
    height: 443px; }
    .maincontent__sales h4 {
      font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      color: #babfc7;
      font-size: 14px;
      padding-left: 15px; }
    .maincontent__sales > div:first-child {
      border-bottom: 1px #ECEFF1 solid;
      padding-left: 15px; }
      .maincontent__sales > div:first-child h5, .maincontent__sales > div:first-child .maincontent__users table tr > td:nth-child(2) span, .maincontent__users table tr > td:nth-child(2) .maincontent__sales > div:first-child span, .maincontent__sales > div:first-child .maincontent__users table tr > td:nth-child(3) span, .maincontent__users table tr > td:nth-child(3) .maincontent__sales > div:first-child span, .maincontent__sales > div:first-child .maincontent__users table tr > td:nth-child(4), .maincontent__users table .maincontent__sales > div:first-child tr > td:nth-child(4) {
        font-size: 14px;
        font-weight: 100;
        font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        color: #00b5b8;
        margin-right: 10px;
        padding: 15px 0; }
        .maincontent__sales > div:first-child h5:first-child, .maincontent__sales > div:first-child .maincontent__users table tr > td:nth-child(2) span:first-child, .maincontent__users table tr > td:nth-child(2) .maincontent__sales > div:first-child span:first-child, .maincontent__sales > div:first-child .maincontent__users table tr > td:nth-child(3) span:first-child, .maincontent__users table tr > td:nth-child(3) .maincontent__sales > div:first-child span:first-child, .maincontent__sales > div:first-child .maincontent__users table tr > td:first-child:nth-child(4), .maincontent__users table .maincontent__sales > div:first-child tr > td:first-child:nth-child(4) {
          border-bottom: 2px #404e67 solid; }
    .maincontent__sales > div:nth-child(2) {
      padding: 20px 0 0 15px; }
      .maincontent__sales > div:nth-child(2) h3 {
        color: #404e67;
        padding-right: 20px;
        font-size: 21px; }
      .maincontent__sales > div:nth-child(2) h6 {
        color: #00b5b8;
        font-size: 11px; }
        .maincontent__sales > div:nth-child(2) h6 i {
          padding-right: 5px; }
  .maincontent__bar {
    justify-content: space-around;
    padding-top: 20px; }
    .maincontent__bar h6 {
      color: #404e67;
      padding-top: 10px;
      font-size: 12px; }
    .maincontent__bar > div:first-child > div > div {
      height: 40%; }
    .maincontent__bar > div:nth-child(2) > div > div {
      height: 60%; }
    .maincontent__bar > div:nth-child(3) > div > div {
      background-color: #ff7588;
      height: 65%; }
    .maincontent__bar > div:nth-child(4) > div > div {
      height: 55%; }
    .maincontent__bar > div:nth-child(5) > div > div {
      background-color: #ffa87d;
      height: 90%; }
    .maincontent__bar > div:last-child > div > div {
      height: 57%; }
    .maincontent__bar > div > div {
      height: 240px;
      width: 12px;
      background-color: #e6e6e6;
      transform: rotate(180deg);
      margin: 0 7px; }
      .maincontent__bar > div > div > div {
        background-color: #00b5b8;
        height: 50%; }
  .maincontent__region > h6 {
    font-size: 14px;
    font-weight: 100;
    color: #00b5b8;
    border-bottom: 1px #ECEFF1 solid;
    margin-right: 10px;
    padding: 25px 0 15px 25px; }
  .maincontent__region > :nth-child(2) {
    height: 240px;
    width: 240px;
    margin: auto; }
  .maincontent__region > :nth-child(3) {
    justify-content: center; }
    .maincontent__region > :nth-child(3) h5, .maincontent__region > :nth-child(3) .maincontent__users table tr > td:nth-child(2) span, .maincontent__users table tr > td:nth-child(2) .maincontent__region > :nth-child(3) span, .maincontent__region > :nth-child(3) .maincontent__users table tr > td:nth-child(3) span, .maincontent__users table tr > td:nth-child(3) .maincontent__region > :nth-child(3) span, .maincontent__region > :nth-child(3) .maincontent__users table tr > td:nth-child(4), .maincontent__users table .maincontent__region > :nth-child(3) tr > td:nth-child(4) {
      font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      color: #404e67;
      font-size: 14px; }
    .maincontent__region > :nth-child(3) > div {
      align-items: center;
      padding-right: 10px; }
      .maincontent__region > :nth-child(3) > div > div {
        height: 10px;
        width: 10px;
        margin-right: 3px;
        padding: 0; }
  .maincontent__region > :last-child {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #404e67;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 40px;
    border-top: 1px #ECEFF1 solid; }
    .maincontent__region > :last-child h4 {
      font-size: 28px;
      font-weight: lighter; }
    .maincontent__region > :last-child h6 {
      font-size: 14px;
      font-weight: lighter; }
    .maincontent__region > :last-child > div {
      border-right: 1px #ECEFF1 solid;
      padding: 10px 0; }
    .maincontent__region > :last-child > div:last-child {
      border-right: 0px; }
  .maincontent__update {
    height: 235px; }
    .maincontent__update > div:first-child {
      justify-content: space-between;
      padding: 15px; }
      .maincontent__update > div:first-child h4 {
        color: #404e67;
        padding: 0;
        font-size: 18.5px; }
      .maincontent__update > div:first-child h6 {
        padding: 0;
        font-size: 14px; }
      .maincontent__update > div:first-child a {
        font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        color: #009c9f;
        font-weight: 100; }
    .maincontent__update > div:last-child {
      overflow: scroll;
      height: 182px;
      padding: 0 15px 15px; }
      .maincontent__update > div:last-child::-webkit-scrollbar {
        width: 7px; }
      .maincontent__update > div:last-child::-webkit-scrollbar-track {
        background: #fff; }
      .maincontent__update > div:last-child::-webkit-scrollbar-thumb {
        background: #999;
        border-radius: 20px;
        visibility: hidden; }
      .maincontent__update > div:last-child:hover::-webkit-scrollbar-thumb {
        visibility: visible; }
    .maincontent__update li {
      font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }
      .maincontent__update li h5, .maincontent__update li .maincontent__users table tr > td:nth-child(2) span, .maincontent__users table tr > td:nth-child(2) .maincontent__update li span, .maincontent__update li .maincontent__users table tr > td:nth-child(3) span, .maincontent__users table tr > td:nth-child(3) .maincontent__update li span, .maincontent__update li .maincontent__users table tr > td:nth-child(4), .maincontent__users table .maincontent__update li tr > td:nth-child(4) {
        font-size: 14px;
        font-weight: 400;
        color: #626E82; }
      .maincontent__update li h6 {
        font-size: 12.5px;
        font-weight: 100;
        color: #404e67; }
      .maincontent__update li:first-child {
        padding-bottom: 18px; }
        .maincontent__update li:first-child i {
          height: 30px;
          width: 30px;
          color: #00b5b8;
          background-color: rgba(0, 181, 184, 0.1);
          text-align: center;
          line-height: 30px;
          border-radius: 50%; }
      .maincontent__update li:nth-child(2) {
        padding: 18px 0; }
        .maincontent__update li:nth-child(2) i {
          height: 30px;
          width: 30px;
          color: #2dcee3;
          background-color: rgba(0, 181, 184, 0.1);
          text-align: center;
          line-height: 30px;
          border-radius: 50%; }
      .maincontent__update li:nth-child(3) {
        padding: 18px 0; }
        .maincontent__update li:nth-child(3) i {
          height: 30px;
          width: 30px;
          color: #ff7588;
          background-color: rgba(0, 181, 184, 0.1);
          text-align: center;
          line-height: 30px;
          border-radius: 50%; }
      .maincontent__update li:nth-child(4) {
        padding: 18px 0; }
        .maincontent__update li:nth-child(4) i {
          height: 30px;
          width: 30px;
          color: #00b5b8;
          background-color: rgba(0, 181, 184, 0.1);
          text-align: center;
          line-height: 30px;
          border-radius: 50%; }
      .maincontent__update li:nth-child(5) {
        padding: 18px 0; }
        .maincontent__update li:nth-child(5) i {
          height: 30px;
          width: 30px;
          color: #2dcee3;
          background-color: rgba(0, 181, 184, 0.1);
          text-align: center;
          line-height: 30px;
          border-radius: 50%; }
      .maincontent__update li:last-child {
        padding-top: 18px; }
        .maincontent__update li:last-child i {
          height: 30px;
          width: 30px;
          color: #ff7588;
          background-color: rgba(0, 181, 184, 0.1);
          text-align: center;
          line-height: 30px;
          border-radius: 50%; }
  .maincontent__information {
    grid-column: 2 / 5; }
    .maincontent__information > div:first-child {
      color: #404e67;
      padding: 20px 15px;
      font-size: 18px; }
      .maincontent__information > div:first-child h4 {
        font-weight: 500; }
    .maincontent__information > div:last-child {
      font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      border-top: 1px solid #ECEFF1; }
      .maincontent__information > div:last-child > div > div {
        border-right: 1px solid #ECEFF1;
        align-items: center;
        padding: 30px; }
      .maincontent__information > div:last-child img {
        height: 110px;
        width: 110px; }
      .maincontent__information > div:last-child h5, .maincontent__information > div:last-child .maincontent__users table tr > td:nth-child(2) span, .maincontent__users table tr > td:nth-child(2) .maincontent__information > div:last-child span, .maincontent__information > div:last-child .maincontent__users table tr > td:nth-child(3) span, .maincontent__users table tr > td:nth-child(3) .maincontent__information > div:last-child span, .maincontent__information > div:last-child .maincontent__users table tr > td:nth-child(4), .maincontent__users table .maincontent__information > div:last-child tr > td:nth-child(4) {
        color: #404e67;
        font-size: 16px;
        margin-bottom: 5px; }
      .maincontent__information > div:last-child p {
        font-size: 14px;
        font-weight: 100;
        color: #98a4b8;
        margin-bottom: 10px; }
      .maincontent__information > div:last-child > div:last-child > div {
        border-right: 0px; }
  .maincontent__users {
    height: 470px;
    width: 100%;
    grid-column: 1 / 4; }
    .maincontent__users > div {
      color: #404e67;
      padding: 20px;
      font-size: 16px; }
      .maincontent__users > div a {
        color: #404e67; }
    .maincontent__users th,
    .maincontent__users td {
      border-bottom: 1px solid #ECEFF1;
      border-collapse: collapse; }
    .maincontent__users table {
      border-top: 1px solid #ECEFF1;
      border-bottom: 0px;
      padding: 0; }
      .maincontent__users table img {
        height: 30px;
        width: 30px;
        margin-right: 10px;
        border-radius: 50%; }
      .maincontent__users table tr {
        border: 1px solid #404e67; }
      .maincontent__users table th {
        font-size: 14px;
        font-weight: bolder;
        font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        color: #404e67;
        text-align: start;
        padding: 10.5px 28px; }
      .maincontent__users table tr h5, .maincontent__users table tr > td:nth-child(2) span, .maincontent__users table tr > td:nth-child(3) span, .maincontent__users table tr > td:nth-child(4) {
        font-size: 14px;
        font-weight: 100;
        font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        color: #404e67; }
      .maincontent__users table tr > td:first-child {
        align-items: center;
        padding: 10.5px 28px; }
      .maincontent__users table tr > td:nth-child(2) span {
        padding: 10.5px 28px; }
      .maincontent__users table tr > td:nth-child(3) span {
        padding: 10.5px 28px; }
      .maincontent__users table tr > td:nth-child(4) {
        padding: 10.5px 28px; }
        .maincontent__users table tr > td:nth-child(4) > div {
          height: 14px;
          width: 78.5px;
          background-color: #eee;
          border-radius: 3px; }
          .maincontent__users table tr > td:nth-child(4) > div > div {
            height: 100%;
            width: 55%;
            color: #fff;
            text-align: center;
            background-color: #16d39a;
            font-size: 10px;
            border-radius: 3px; }
      .maincontent__users table tr > td:nth-child(5) {
        padding: 10.5px 28px; }
      .maincontent__users table tr > td:last-child {
        padding: 10.5px 28px; }
        .maincontent__users table tr > td:last-child a {
          color: #404e67; }
          .maincontent__users table tr > td:last-child a div i {
            padding-right: 15px; }
      .maincontent__users table tr:nth-child(2) > td:nth-child(4) > div > div {
        background-color: #ffa87d; }
      .maincontent__users table tr:nth-child(3) > td:nth-child(4) > div > div {
        background-color: #ff7588;
        width: 65%; }
      .maincontent__users table tr:nth-child(4) > td:nth-child(4) > div > div {
        width: 78%; }
      .maincontent__users table tr:nth-child(5) > td:nth-child(4) > div > div {
        background-color: #ffa87d;
        width: 51%; }
      .maincontent__users table tr:last-child > td:nth-child(4) > div > div {
        background-color: #ff7588;
        width: 47%; }
  .maincontent__tasks > div {
    color: #404e67;
    padding: 21px;
    font-size: 16px; }
    .maincontent__tasks > div a {
      color: #404e67; }
  .maincontent__tasks ul {
    padding: 20px; }
  .maincontent__tasks li {
    padding: 0 0 30px 30px; }
    .maincontent__tasks li > div {
      justify-content: space-between; }
      .maincontent__tasks li > div h5, .maincontent__tasks li > div .maincontent__users table tr > td:nth-child(2) span, .maincontent__users table tr > td:nth-child(2) .maincontent__tasks li > div span, .maincontent__tasks li > div .maincontent__users table tr > td:nth-child(3) span, .maincontent__users table tr > td:nth-child(3) .maincontent__tasks li > div span, .maincontent__tasks li > div .maincontent__users table tr > td:nth-child(4), .maincontent__users table .maincontent__tasks li > div tr > td:nth-child(4) {
        color: #404e67;
        padding: 0;
        margin-bottom: 5px;
        font-size: 14px; }
      .maincontent__tasks li > div h6 {
        font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        color: #babfc7;
        font-size: 12.5px; }
    .maincontent__tasks li > h6 {
      font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      color: #babfc7;
      font-size: 13px; }
    .maincontent__tasks li:first-child {
      position: relative;
      top: initial;
      right: initial;
      bottom: initial;
      left: initial; }
      .maincontent__tasks li:first-child::before {
        background-color: #00b5b8; }
      .maincontent__tasks li:first-child img {
        height: 20px;
        width: 20px;
        margin-top: 10px;
        border-radius: 50%; }
    .maincontent__tasks li:nth-child(2) {
      position: relative;
      top: initial;
      right: initial;
      bottom: initial;
      left: initial; }
      .maincontent__tasks li:nth-child(2)::before {
        background-color: #ff7588; }
    .maincontent__tasks li:nth-child(3) {
      position: relative;
      top: initial;
      right: initial;
      bottom: initial;
      left: initial; }
      .maincontent__tasks li:nth-child(3)::before {
        background-color: #ffa87d; }
    .maincontent__tasks li:last-child {
      position: relative;
      top: initial;
      right: initial;
      bottom: initial;
      left: initial; }
      .maincontent__tasks li:last-child::before {
        background-color: #2dcee3; }
      .maincontent__tasks li:last-child a {
        position: relative;
        top: initial;
        right: initial;
        bottom: initial;
        left: initial;
        display: inline-block; }
      .maincontent__tasks li:last-child img {
        height: 20px;
        width: 20px;
        border: 2px solid #fff;
        margin-top: 10px;
        border-radius: 50%; }
        .maincontent__tasks li:last-child img:first-child {
          position: absolute;
          top: initial;
          right: initial;
          bottom: initial;
          left: 0; }
        .maincontent__tasks li:last-child img:nth-child(2) {
          position: absolute;
          top: initial;
          right: initial;
          bottom: initial;
          left: 12px; }
        .maincontent__tasks li:last-child img:last-child {
          position: absolute;
          top: initial;
          right: initial;
          bottom: initial;
          left: 25px; }

.footer {
  background-color: #fff;
  height: 32px;
  margin-left: 240px;
  padding: 5px; }
  .footer h6 {
    font-size: 14px;
    font-weight: 100;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #90a4ae; }
  .footer a {
    color: #009c9f; }
  .footer i {
    color: #E91E63; }
