.b {
  background-color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  margin-top: 10px; }

body {
  background-color: blue; }

.c {
  height: 300px;
  width: 300px;
  background-color: hotpink;
  border-radius: 5px;
  margin-top: 200px; }

.logo {
  background: element(logo-bg); }

.button {
  border: 1px solid black;
  border-radius: 5px; }

:root {
  --primary: $primary;
  --accent: $accent;
  --warn: $warmn; }
