* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: teal;
  text-align: center;
  color: #fff;
  height: 150px;
  width: calc(100% - 150px);
  margin-left: 250px;
  position: absolute;
  top: 0; }

.sidebar {
  position: relative;
  width: 250px;
  height: 100vh;
  background-color: blue;
  text-align: center;
  color: #fff; }

@media (max-width: 768px) {
  header {
    width: 50%;
    margin-left: 50%; }
  .sidebar {
    width: 50%; } }

@media (max-width: 599px) {
  header {
    top: 150px;
    margin-left: 0;
    width: 100%; }
  .sidebar {
    width: 100%;
    height: 150px; } }
