.container {
    max-width: $webstie-width;
    margin: auto;
    overflow: hidden;
    padding: 0 1.5rem;
}

%abtn {
    display: inline-block;
    transition: all 0.5s;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

.btn {
    &-main {
        @extend %abtn;
        background-color: $mainc;
        color: black;
    }

    &-light {
        @extend %abtn;
        background-color: $lightc;
        color: black;
    }

    &-dark {
        @extend %abtn;
        background-color: $darkc;
        color: $lightc;
    }
}

.bg {
    &-main {
        background: $mainc;
        color: stc($mainc);
    }

    &-dark {
        background: $darkc;
        color: stc($darkc);
    }

    &-light {
        background: $lightc;
        color: stc($lightc);
    }

    &-medium {
        background: $mediumc;
        color: stc($mediumc);
    }
}

.large {
    text-transform: uppercase;
    text-align: center;
    display: block;
    padding-bottom: 0.5rem;
    font-weight: 100;
    font-size: 2rem;
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
    background-color: $mainc;
    color: $darkc
}

.line {
    background-color: $mainc;
    display: block;
    margin: 0 auto 1rem auto;
    height: 2px;
    width: 5rem;
}