:root {
    --primarycolor: #425b84;
    --secondarycolor: #5b7bb4;
    --maxwidth: 1100px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: normal 1.5rem/1.8rem 'Arial', sans-serif;
    background-color: var(--primarycolor);
    color: #fff;

}

.main-header {
    background-color: var(--secondarycolor);
    padding: 4rem;
}

.main-header__container {
    max-width: var(--maxwidth);
    text-align: center;
    margin: 2.5rem auto;
}

.main-header__container h1 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
}



#timeline ul {
    background-color: var(--primarycolor);
    padding: 2.5rem 0;
    list-style: none;
}

#timeline ul li {
    position: relative;
    margin: auto;
    background-color: #fff;
    padding: 2.5rem 0;
    width: 6px;
}

#timeline ul li:nth-child(odd) div {
    margin-left: 40px;
    transform: translate(400px, 0px);
}

#timeline ul li:nth-child(even) div {
    margin-left: -540px;
    transform: translate(-400px, 0px);
}

#timeline ul li div {
    background-color: var(--secondarycolor);
    position: relative;
    padding-left: 2rem;
    width: 500px;
    visibility: none;
    opacity: 0;
}

#timeline ul li div h3 {
    padding: 20px 10px;
    font-size: 1.5rem;
}

#timeline ul li div p {
    padding: 20px 10px;
    font-size: 1.2rem;
}

/* Dots */

#timeline ul li::after {
    content: '';
    position: absolute;
    transition: background 1s ease-in-out;
    background-color: inherit;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    left: 50%;
    bottom: 35px;
    transform: translateX(-50%);
}


/* Arrow */
#timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 0;
    height: 0;
    border-style: solid;
}

#timeline ul li:nth-child(odd) div::before {
    position: absolute;
    left: -15px;
    border-width: 8px 16px 8px 0px;
    border-color: transparent var(--secondarycolor) transparent transparent;
}

#timeline ul li:nth-child(even) div::before {
    position: absolute;
    right: -15px;
    border-width: 8px 0px 8px 16px;
    border-color: transparent transparent transparent var(--secondarycolor);
}

/* Show class */
#timeline ul li.show div {
    visibility: visible;
    opacity: 1;
}

#timeline ul li:nth-child(odd).show div {
    transform: translate(0);
    transition: 1s ease-in-out;
}

#timeline ul li:nth-child(even).show div {
    transform: translate(0);
    transition: 1s ease-in-out;
}

#timeline ul li.show::after {
    background-color: var(--secondarycolor);
}

@media (max-width:1100px) {
    #timeline ul li div {
        width: 300px;
    }

    #timeline ul li:nth-child(even) div {
        left: 205px;
    }
}

@media (max-width:700px) {
    #timeline ul li {
        margin: 0 20px;
    }

    #timeline ul li:nth-child(even) div {
        left: 579px;
    }


    #timeline ul li:nth-child(even) div::before {
        position: absolute;
        left: -15px;
        border-width: 8px 16px 8px 0px;
        border-color: transparent var(--secondarycolor) transparent transparent;

    }
}