$var: blue;

%box {
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin-top: 10px;
}

@mixin mname($bc: white) {
    height: 300px;
    width: 300px;
    background-color: $bc;
    border-radius: 5px;
    margin-top: 200px;
}