@import 'v1';

$bc: #555;

@function cal() {
    // $a: horizontal;
    @return horizontal;
}

.b {
    height: 300px;
    width: 300px;
    $bc: black;
    background-color: $bc;
    resize: vertical;
    overflow: auto;
}

.c {
    @extend .b;
    background-color: $bc;
    resize: cal();
    overflow: auto;

    a {
        color: #fff;
        text-decoration: none;
        pointer-events: auto;

        span {
            vertical-align: text-bottom;
        }
    }
}