@import 'v1';

$bc: #555;

@function cal() {
    @return horizontal;
}

@mixin an {
    color: #fff;
    text-decoration: none;
    pointer-events: auto;
}

div {
    break-after: page;
}

p {
    font-size: 50px;
    widows: 5;
}

.b {
    height: 300px;
    width: 300px;
    $bc: black;
    background-color: $bc;
    resize: vertical;
    overflow: auto;
    color: #fff
}

.c {
    @extend .b;
    background-color: $bc;
    resize: cal();
    overflow: auto;
    color: #fff;

    a {
        @include an;

        span {
            vertical-align: text-bottom;
        }
    }
}

.error {
    border: 1px #f00;
    background-color: #fdd;

    &--serious {
        border-width: 3px;
    }
}