$desktop: (
    "hheight": 150px,
    "swidth": 250px
);
$tablet: (
    "hheight": 150px,
    "swidth": 200px
);
$mobile: (
    "hheight": 150px,
    "swidth": 100%
);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: teal;
    text-align: center;
    color: #fff;
    height: map-get($desktop, "hheight");
    width: calc(100% - #{map-get($desktop, "hheight")});
    margin-left: map-get($desktop, "swidth");
    position: absolute;
    top: 0;

}

.sidebar {
    position: relative;
    width: 250px;
    height: 100vh;
    background-color: blue;
    text-align: center;
    color: #fff;
}

//z-index
.div {
    height: 300px;
    width: 300px;
    opacity: 0.8;
}

@mixin col($bc) {
    background-color: $bc;
}

.div1 {
    @include col(red);
    position: absolute;
    top: 200px;
    left: 500px;

}

.div2 {
    @include col(blue);
    position: absolute;
    top: 250px;
    left: 550px;
}

.div3 {
    @include col(green);
    position: absolute;
    top: 300px;
    left: 600px;
}

$index: (
    'div1',
    'div2',
    'div3'
);

@for $i from 0 to length($index) {
    .#{nth($index, $i+1)}:hover {
        z-index: length($index)-$i;
        opacity: 1;
    }
}

@media (max-width:920px) {
    header {
        width: map-get($mobile, 'swidth');
        margin-left: map-get($tablet, "swidth");
    }

    .sidebar {
        width: map-get($tablet, "swidth");
    }

    .div1 {
        top: 200px;
        left: 250px;

    }

    .div2 {
        top: 250px;
        left: 300px;
    }

    .div3 {
        top: 300px;
        left: 350px;
    }
}

@media (max-width:599px) {
    header {
        top: map-get($mobile, "hheight");
        margin-left: 0;
        width: map-get($mobile, "swidth");

    }

    .sidebar {
        width: map-get($mobile, "swidth");
        height: map-get($mobile, "hheight");
    }

    .div1 {
        top: 400px;
        left: 50px;

    }

    .div2 {
        top: 450px;
        left: 100px;
    }

    .div3 {
        top: 550px;
        left: 150px;
    }
}

@media (max-width:450px) {
    header {
        top: map-get($mobile, "hheight");
        margin-left: 0;
        width: map-get($mobile, "swidth");

    }

    .sidebar {
        width: map-get($mobile, "swidth");
        height: map-get($mobile, "hheight");
    }

    .div1 {
        top: 400px;
        left: 50px;

    }

    .div2 {
        top: 450px;
        left: 50px;
    }

    .div3 {
        top: 550px;
        left: 50px;
    }
}