$desktop: (
    "hheight": 150px,
    "swidth": 250px
);
$tablet: (
    "hheight": 150px,
    "swidth": 50%
);
$mobile: (
    "hheight": 150px,
    "swidth": 100%
);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: teal;
    text-align: center;
    color: #fff;
    height: map-get($desktop, "hheight");
    width: calc(100% - #{map-get($desktop, "hheight")});
    margin-left: map-get($desktop, "swidth");
    position: absolute;
    top: 0;

}

.sidebar {
    position: relative;
    width: 250px;
    height: 100vh;
    background-color: blue;
    text-align: center;
    color: #fff;
}



@media (max-width:768px) {
    header {
        width: map-get($tablet, "swidth");
        margin-left: map-get($tablet, "swidth");
    }

    .sidebar {
        width: map-get($tablet, "swidth");
    }
}

@media (max-width:599px) {
    header {
        top: map-get($mobile, "hheight");
        margin-left: 0;
        width: map-get($mobile, "swidth");

    }

    .sidebar {
        width: map-get($mobile, "swidth");
        height: map-get($mobile, "hheight");
    }
}