.div {
    height: 300px;
    width: 300px;
}

@mixin col($bc) {
    background-color: $bc;
}

.div1 {
    @include col(red);
    position: relative
}

.div2 {
    @include col(blue);
    position: absolute;
    top: 300px
}

.div3 {
    @include col(green);
    position: fixed;
    top: 600px;
}

$index: (
    'div1',
    'div2',
    'div3'
);

@for $i from 0 to length($index) {
    .#{nth($index, $i+1)}:hover {
        z-index: length($index)-$i;
    }
}