.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-right: -15px;
  padding-left: -15px; }

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%; }

@media (min-width: 1800px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-xl-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .order-xl-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .order-xl-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13; }
  .order-xl-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0; }
  .order-xl-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .order-xl-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .order-xl-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .order-xl-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }
  .order-xl-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5; }
  .order-xl-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6; }
  .order-xl-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7; }
  .order-xl-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8; }
  .order-xl-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9; }
  .order-xl-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10; }
  .order-xl-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11; }
  .order-xl-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12; }
  .offset-xl-0 {
    margin-left: 0; }
  .offset-xl-1 {
    margin-left: 8.333333%; }
  .offset-xl-2 {
    margin-left: 16.666667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.333333%; }
  .offset-xl-5 {
    margin-left: 41.666667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.333333%; }
  .offset-xl-8 {
    margin-left: 66.666667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.333333%; }
  .offset-xl-11 {
    margin-left: 91.666667%; } }

@media (min-width: 1200px) and (max-width: 1800px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-lg-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .order-lg-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .order-lg-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13; }
  .order-lg-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0; }
  .order-lg-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .order-lg-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .order-lg-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .order-lg-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }
  .order-lg-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5; }
  .order-lg-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6; }
  .order-lg-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7; }
  .order-lg-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8; }
  .order-lg-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9; }
  .order-lg-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10; }
  .order-lg-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11; }
  .order-lg-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12; }
  .offset-lg-0 {
    margin-left: 0; }
  .offset-lg-1 {
    margin-left: 8.333333%; }
  .offset-lg-2 {
    margin-left: 16.666667%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .offset-lg-4 {
    margin-left: 33.333333%; }
  .offset-lg-5 {
    margin-left: 41.666667%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .offset-lg-7 {
    margin-left: 58.333333%; }
  .offset-lg-8 {
    margin-left: 66.666667%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .offset-lg-10 {
    margin-left: 83.333333%; }
  .offset-lg-11 {
    margin-left: 91.666667%; } }

@media (min-width: 1025px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-md-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .order-md-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .order-md-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13; }
  .order-md-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0; }
  .order-md-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .order-md-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .order-md-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .order-md-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }
  .order-md-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5; }
  .order-md-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6; }
  .order-md-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7; }
  .order-md-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8; }
  .order-md-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9; }
  .order-md-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10; }
  .order-md-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11; }
  .order-md-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12; }
  .offset-md-0 {
    margin-left: 0; }
  .offset-md-1 {
    margin-left: 8.333333%; }
  .offset-md-2 {
    margin-left: 16.666667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.333333%; }
  .offset-md-5 {
    margin-left: 41.666667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.333333%; }
  .offset-md-8 {
    margin-left: 66.666667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.333333%; }
  .offset-md-11 {
    margin-left: 91.666667%; } }

@media (min-width: 600px) and (max-width: 1024px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-sm-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .order-sm-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .order-sm-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13; }
  .order-sm-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0; }
  .order-sm-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .order-sm-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .order-sm-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .order-sm-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }
  .order-sm-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5; }
  .order-sm-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6; }
  .order-sm-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7; }
  .order-sm-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8; }
  .order-sm-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9; }
  .order-sm-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10; }
  .order-sm-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11; }
  .order-sm-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12; }
  .offset-sm-0 {
    margin-left: 0; }
  .offset-sm-1 {
    margin-left: 8.333333%; }
  .offset-sm-2 {
    margin-left: 16.666667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.333333%; }
  .offset-sm-5 {
    margin-left: 41.666667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.333333%; }
  .offset-sm-8 {
    margin-left: 66.666667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.333333%; }
  .offset-sm-11 {
    margin-left: 91.666667%; } }

@media (min-width: 319px) and (max-width: 600px) {
  .col-xs {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-xs-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-xs-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-xs-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-xs-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xs-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-xs-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-xs-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xs-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-xs-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-xs-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xs-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-xs-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-xs-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .order-xs-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .order-xs-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13; }
  .order-xs-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0; }
  .order-xs-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .order-xs-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .order-xs-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .order-xs-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }
  .order-xs-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5; }
  .order-xs-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6; }
  .order-xs-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7; }
  .order-xs-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8; }
  .order-xs-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9; }
  .order-xs-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10; }
  .order-xs-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11; }
  .order-xs-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12; }
  .offset-xs-0 {
    margin-left: 0; }
  .offset-xs-1 {
    margin-left: 8.333333%; }
  .offset-xs-2 {
    margin-left: 16.666667%; }
  .offset-xs-3 {
    margin-left: 25%; }
  .offset-xs-4 {
    margin-left: 33.333333%; }
  .offset-xs-5 {
    margin-left: 41.666667%; }
  .offset-xs-6 {
    margin-left: 50%; }
  .offset-xs-7 {
    margin-left: 58.333333%; }
  .offset-xs-8 {
    margin-left: 66.666667%; }
  .offset-xs-9 {
    margin-left: 75%; }
  .offset-xs-10 {
    margin-left: 83.333333%; }
  .offset-xs-11 {
    margin-left: 91.666667%; } }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.container {
  position: relative;
  margin: auto;
  width: 71.25rem; }

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.125rem; }

body > :nth-child(2n+1) {
  background-color: #f6f3ea; }

body > :nth-child(1) {
  background-color: #fff; }

body > :nth-child(3) {
  background-color: #fbd7b5; }

.top-left {
  margin-bottom: 4rem; }
  .top-left h5 {
    color: #fb4f31;
    margin-bottom: 1rem;
    font-size: 1rem; }
  .top-left h1,
  .top-left h2 {
    color: #0c2461;
    margin-bottom: 1.25rem;
    line-height: 4rem;
    font-size: 3.125rem; }
  .top-left p {
    font-family: "Barlow", sans-serif;
    color: #3c6382;
    line-height: 2rem; }
  .top-left--m {
    text-align: center; }
    .top-left--m h5 {
      color: #fb4f31;
      margin-bottom: 1rem;
      font-size: 1rem; }
    .top-left--m h1,
    .top-left--m h2 {
      color: #0c2461;
      font-weight: bold;
      margin-bottom: 1.25rem;
      line-height: 4rem;
      font-size: 3.125rem; }
    .top-left--m p {
      font-family: "Barlow", sans-serif;
      color: #3c6382;
      margin-bottom: 4rem;
      line-height: 2rem; }

.button, .button-btn {
  border: 0 none solid;
  border-radius: 0.3rem;
  font-family: "Barlow", sans-serif;
  color: #fff;
  background-color: #fb4f31;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.125rem;
  font-weight: 800; }
  .button-btn {
    cursor: pointer;
    border: none; }

.focus:focus, .newsletter > div > div:last-child input:focus, .newsletter > div > div:last-child .contact textarea:focus, .contact .newsletter > div > div:last-child textarea:focus, .contact input:focus, .contact textarea:focus {
  border: 3px #e4f1fb solid;
  border-radius: 0;
  box-shadow: 2px 2px 2px lightblue, -2px -2px 2px lightblue; }

.contentcenter .top-left--m, .testimonials .top-left--m, .product .top-left--m, .faq .top-left--m, .newsletter .top-left--m {
  margin: auto;
  width: 47.5rem; }

.header__top {
  border-bottom: 1px solid #e4f1fb;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1rem; }

.header__contact i {
  padding-right: 0.5rem;
  color: #fb4f31; }

.header__contact span {
  color: #0c2461; }

.header__contact-social ul {
  justify-content: flex-end; }

.header__contact-social i {
  border: 1px #fb4f31 solid;
  border-radius: 0.5rem;
  color: #fb4f31;
  text-align: center;
  transition: all 0.5s;
  margin-left: 0.7rem;
  height: 2.3rem;
  width: 2.3rem;
  line-height: 2.3rem; }
  .header__contact-social i:hover {
    color: #fff;
    background-color: #fb4f31; }

.nav {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 10; }
  .nav__sticky {
    padding: 1.5rem; }
    .nav__sticky > div {
      align-items: center; }
    .nav__sticky > div > div:last-child {
      text-align: end; }
  .nav__pages a {
    color: #130f40; }
    .nav__pages a:hover {
      color: #fb4f31; }
  .nav__pages ul {
    justify-content: center; }
  .nav__pages li {
    font-family: "Barlow", sans-serif;
    font-weight: bold;
    padding-right: 1.5rem;
    font-size: 1.125rem; }
  .nav .button, .nav .button-btn {
    transition: all 0.5s; }
    .nav .button:hover, .nav .button-btn:hover {
      border: 1px #fb4f31 solid;
      border-radius: 0.3rem;
      color: #fb4f31;
      background-color: #fff; }

.home {
  padding: 9.65rem 0; }
  .home > div {
    align-items: center; }
  .home__content {
    padding-right: 5rem; }
    .home__content a {
      margin-right: 1rem; }
    .home__content span {
      color: #0c2461;
      font-size: 1.5rem;
      font-weight: 600; }
    .home__content .top-left h1 {
      line-height: 4.5rem;
      font-size: 4.375rem; }
    .home__content .top-left p {
      font-size: 1.25rem; }
    .home__content .top-left h5 {
      font-size: 1.125rem; }
  .home img {
    height: 28.125rem;
    width: 28.125rem; }

.about {
  padding: 6rem 0; }
  .about > div {
    align-items: center; }
  .about img {
    height: 25rem;
    width: 33.75rem; }
  .about__list {
    margin-bottom: 2rem; }
    .about__list ul {
      padding: 0; }
    .about__list li {
      color: #0c2461;
      padding: 0.5rem 0;
      font-size: 1.25rem;
      font-weight: 500; }
    .about__list i {
      color: #fb4f31;
      margin-right: 0.5rem; }

.features {
  padding: 6rem 0 3rem; }
  .features .top-left--m {
    margin: auto;
    width: 46.87rem; }
  .features > div > div:last-child div {
    padding: 0 0 2rem 2rem; }
    .features > div > div:last-child div div {
      align-items: center;
      padding: 1rem 0 1rem 0; }
    .features > div > div:last-child div h4 {
      font-size: 1.75rem;
      color: #0c2461; }
    .features > div > div:last-child div p {
      font-family: "Barlow", sans-serif;
      color: #3c6382;
      line-height: 2rem; }
  .features i {
    color: #fb4f31;
    margin-right: 1rem; }

.product-demo {
  text-align: center;
  padding: 6rem 0 6.25rem; }
  .product-demo .top-left--m {
    margin: auto;
    width: 46.87rem; }
  .product-demo__image {
    border: 0 none solid;
    border-radius: 0.75rem;
    background: url("../img/watch-img-2.jpg") center center/cover no-repeat;
    padding: 12.5rem 0rem; }
    .product-demo__image i {
      border: 0 none solid;
      border-radius: 50%;
      color: #fff;
      background-color: #fb4f31;
      padding: 1.75rem 1.8rem 1.75rem 2rem; }

.offer {
  padding: 6rem 0; }
  .offer > div {
    align-items: center; }
  .offer img {
    height: 18.75rem;
    width: 33.75rem; }

.testimonials {
  padding: 6rem 0 9.68rem; }
  .testimonials > div > div:nth-child(2) > div {
    text-align: center;
    padding: 0;
    padding-right: 0.5rem; }
    .testimonials > div > div:nth-child(2) > div > div {
      border: 2px #e4f1fb solid;
      border-radius: 1rem;
      padding: 2rem 1rem; }
      .testimonials > div > div:nth-child(2) > div > div img {
        border: 0 none solid;
        border-radius: 50%;
        height: 6.25rem;
        width: 6.25rem; }
      .testimonials > div > div:nth-child(2) > div > div > :first-child {
        color: #fb4f31; }
      .testimonials > div > div:nth-child(2) > div > div p {
        font-family: "Barlow", sans-serif;
        color: #3c6382;
        margin-bottom: 1rem;
        line-height: 1.5rem; }
      .testimonials > div > div:nth-child(2) > div > div :nth-child(3) {
        color: #ffb400;
        margin-bottom: 1.75rem;
        font-size: 1rem; }
      .testimonials > div > div:nth-child(2) > div > div h4,
      .testimonials > div > div:nth-child(2) > div > div h6 {
        color: #0c2461; }
      .testimonials > div > div:nth-child(2) > div > div h4 {
        padding: 1rem 0;
        font-size: 1.75rem; }
      .testimonials > div > div:nth-child(2) > div > div h6 {
        margin-bottom: 0.5rem;
        font-size: 1rem; }
  .testimonials > div > div:last-child {
    justify-content: center;
    margin-top: 2rem; }
    .testimonials > div > div:last-child i {
      padding-right: 0.5rem; }

.product {
  text-align: center;
  padding: 6rem 0 6.25rem; }
  .product > div > div:nth-child(2) > div {
    padding: 0;
    padding-right: 0.5rem; }
    .product > div > div:nth-child(2) > div > div {
      border: 0 none solid;
      border-radius: 1rem;
      background-color: #fff;
      padding: 3.75rem 0 2.5rem; }
      .product > div > div:nth-child(2) > div > div img {
        height: 19.375rem;
        width: 14.375rem;
        margin-bottom: 3rem; }
      .product > div > div:nth-child(2) > div > div h4 {
        margin-bottom: 1rem;
        color: #0c2461;
        font-size: 1.75rem; }
      .product > div > div:nth-child(2) > div > div div {
        color: #ffb400;
        font-size: 1rem; }
      .product > div > div:nth-child(2) > div > div h5 {
        color: #3b04db;
        margin: 1rem 0 2rem;
        font-size: 1.25rem; }
  .product > div > a i {
    border: 0 none solid;
    border-radius: 0.25rem;
    color: #fb4f31;
    background-color: #fff;
    margin: 2rem 1rem 0 0;
    padding: 1rem; }

.faq {
  padding: 6rem 0 4.1rem; }
  .faq > div > div:last-child > div {
    padding: 1rem 1rem; }
    .faq > div > div:last-child > div h3 {
      color: #0c2461;
      margin-bottom: 1rem;
      font-size: 1.5625rem; }
    .faq > div > div:last-child > div p {
      font-family: "Barlow", sans-serif;
      color: #3c6382;
      margin-bottom: 1rem;
      line-height: 2rem; }

.newsletter {
  padding: 6rem 0 6.25rem; }
  .newsletter > div {
    width: 47.5rem;
    margin: auto; }
    .newsletter > div > div:last-child {
      position: relative;
      justify-content: center;
      align-items: center; }
      .newsletter > div > div:last-child input, .newsletter > div > div:last-child .contact textarea, .contact .newsletter > div > div:last-child textarea {
        border: 1px #e4f1fb solid;
        border-radius: 0;
        outline: none;
        width: 100%;
        height: 4rem;
        padding: 1rem; }
      .newsletter > div > div:last-child a {
        border: 0 none solid;
        border-radius: 0;
        position: absolute;
        top: 0.1rem;
        right: 0.1rem;
        height: 3.8rem;
        line-height: 2rem; }

.ourproduct {
  padding: 6.25rem 0 3.75rem; }
  .ourproduct img {
    height: 38.8rem;
    width: 33.75rem; }
  .ourproduct__services li {
    padding-bottom: 2rem;
    line-height: 2rem;
    font-size: 1.75rem; }
    .ourproduct__services li > div {
      padding: 0; }
  .ourproduct__services i {
    color: #fb4f31;
    display: inline-block;
    margin-right: 1rem; }
  .ourproduct__services span {
    color: #0c2461;
    font-size: 1.375rem;
    font-weight: 500; }

.icon {
  padding: 7rem 0; }
  .icon > div > div > div > div {
    align-items: center; }
    .icon > div > div > div > div > div {
      margin-left: 1.9rem;
      line-height: 2rem; }
      .icon > div > div > div > div > div h3 {
        color: #0c2461;
        font-size: 1.75rem; }
      .icon > div > div > div > div > div span {
        font-family: "Barlow", sans-serif;
        color: #3c6382; }
  .icon i {
    color: #fb4f31;
    background-color: #fff;
    text-align: center;
    height: 5.5rem;
    width: 5.5rem;
    line-height: 5.5rem; }

.contact {
  padding: 6rem 0 5rem; }
  .contact label {
    color: #0c2461;
    font-size: 1rem; }
  .contact input, .contact textarea {
    border: 1px #e4f1fb solid;
    border-radius: 0.25rem;
    display: block;
    outline: none;
    height: 3.125rem;
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 1rem; }
  .contact textarea {
    height: 12.5rem;
    margin-bottom: 1rem; }
  .contact__flex > div > div:last-child > div {
    padding-bottom: 3rem; }
    .contact__flex > div > div:last-child > div li {
      font-family: "Barlow", sans-serif;
      padding-bottom: 0.5rem; }
  .contact__flex > div > div:last-child i {
    color: #fb4f31;
    margin-bottom: 1.25rem; }
  .contact__flex > div > div:last-child ul {
    color: #3c6382; }

.footer span {
  font-family: "Barlow", sans-serif;
  display: block;
  text-align: center;
  padding: 1.5rem 0;
  font-size: 1rem; }
  .footer span a {
    color: #fb4f31; }

.footer__container {
  color: #0c2461;
  border-bottom: 1px gray solid;
  padding: 5.6rem 0 4rem; }
  .footer__container div:first-child {
    font-family: "Barlow", sans-serif; }
    .footer__container div:first-child p {
      line-height: 1.5rem; }
    .footer__container div:first-child img {
      margin-bottom: 1rem; }
  .footer__container div:nth-child(2) {
    font-family: "Barlow", sans-serif; }
    .footer__container div:nth-child(2) li {
      margin-bottom: 1.5rem; }
    .footer__container div:nth-child(2) a {
      color: #0c2461; }
  .footer__container div:nth-child(3) {
    font-family: "Barlow", sans-serif; }
    .footer__container div:nth-child(3) li {
      margin-bottom: 1.5rem; }
    .footer__container div:nth-child(3) a {
      color: #0c2461; }
  .footer__container div:last-child {
    position: relative;
    padding: 0 1rem; }
    .footer__container div:last-child input, .footer__container div:last-child .contact textarea, .contact .footer__container div:last-child textarea {
      border: 1px #e4f1fb solid;
      border-radius: 3rem;
      outline: none;
      height: 3.75rem;
      width: 100%;
      padding-left: 2rem; }
      .footer__container div:last-child input:focus, .footer__container div:last-child .contact textarea:focus, .contact .footer__container div:last-child textarea:focus {
        border: 1px #e4f1fb solid;
        box-shadow: 2px 2px 2px lightblue, -2px -2px 2px lightblue; }
    .footer__container div:last-child .button, .footer__container div:last-child .button-btn {
      border: 0 none solid;
      border-radius: 3rem;
      position: absolute;
      right: 1.2rem;
      top: 0.2rem;
      font-size: 1rem; }
    .footer__container div:last-child h3 {
      margin-top: 2rem;
      font-size: 1.25rem; }
    .footer__container div:last-child i {
      border: 0 none solid;
      border-radius: 50%;
      background-color: #fff;
      margin: 1rem 1rem 0 0;
      padding: 1rem; }
    .footer__container div:last-child li a {
      color: #0c2461; }
    .footer__container div:last-child li:first-child i {
      padding: 1rem 1.25rem; }
