$primary-color: #404e67;
$secondary-color: #00b5b8;
$caribbean-green: #16d39a;
$cultured: #f5f7fa;
$silver-sand: #babfc7;
$ultra-red: #ff7588;
$light-salmon: #ffa87d;
$bright-gray: #ECEFF1;
$turquoise: #2dcee3;
$white: #fff;

$opensans: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;