$primary-color: #404e67;
$secondary-color: #00b5b8;
$caribbean-green-color: #16d39a;
$cultured-color: #f5f7fa;
$silver-sand-color: #babfc7;
$ultra-red-color: #ff7588;
$light-salmon-color: #ffa87d;
$bright-gray-color: #ECEFF1;
$turquoise-color: #2dcee3;
$cadet-grey-color: #90a4ae;
$viridian-green-color: #009c9f;
$charcol-color: #38445a;
$gainsboro-color: #dcdcdc;
$white-color: #fff;
$platinum-color: #dfe3e7;
$dark-orchid-color: #9C27B0;
$dark-electric-blue-color: #626e82;
$razzmatazz-color: #E91E63;

$opensans-font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$montserrat: 'Montserrat', Georgia, 'Times New Roman', Times, serif;