@import 'common-flex-base';
@import 'variable';
@import 'utility';
@import 'mixin';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
    width: 100%;

    &__sticky {
        @include position(fixed, 0, 0);
        background-color: $white-color;
        width: 100%;
        box-shadow: 4px 4px 20px 2px rgba(0, 0, 0, 0.1);
        z-index: 10;

        >div {
            >div {
                padding: 0;
            }
        }
    }

    &__sidebar {
        @include box(55px, 240px);
        color: $white-color;
        background-color: $primary-color;
        align-items: center;
        padding: 0;
        font-size: 24px;

        h2 {
            font-size: 24px;
        }
    }

    &__mainside {
        align-items: center;
        height: 55px;

        >div {
            &:first-child {
                height: 100%;
                padding: 0;

                >div {
                    color: $primary-color;
                    align-items: center;
                    height: 100%;

                    a {
                        color: $primary-color;
                        padding: 10px;
                        font-size: 14px;

                        i {
                            padding-left: 5px;
                            font-size: 10px;
                        }
                    }

                    >i {
                        padding: 10px;
                    }
                }
            }
        }

        >div {
            &:last-child {
                height: 100%;
                padding: 0;

                i {
                    color: $primary-color;
                    font-size: 16px;
                }

                li {
                    padding: 0;
                }

                ul {
                    justify-content: flex-end;
                    align-items: center;
                    height: 100%;

                    li {
                        padding-right: 23px;

                        &:first-child {
                            a {
                                align-items: center;
                            }

                            img {
                                @include box(18px, 18px);
                                margin-right: 10px;
                            }

                            i {
                                font-size: 10px;
                            }
                        }

                        &:nth-child(2) {
                            @include position(relative);
                            margin: 0 10px;

                            i {
                                &::after {
                                    @include position(absolute, initial, initial, 13px, 9px);
                                    @extend .nav-notification;
                                    content: '5';
                                }
                            }
                        }

                        &:nth-child(3) {
                            @include position(relative);
                            margin: 0 10px;

                            i {
                                &::after {
                                    @include position(absolute, initial, initial, 13px, 10px);
                                    @extend .nav-notification;
                                    background-color: $light-salmon-color;
                                    content: '3';
                                }
                            }
                        }

                        &:last-child {
                            a {
                                display: inline-block;
                            }
                        }
                    }

                    span {
                        padding: 0 5px;
                        font-size: 14px;

                        +i {
                            font-size: 10px;
                        }
                    }

                    a {
                        color: $primary-color;

                        div {
                            align-items: center;
                            padding: 0;
                        }
                    }

                }
            }
        }
    }

    &__user {
        @include position(relative);

        img {
            @include box(32px, 32px);
            padding: 0;
            border-radius: 50%;
        }

        &::after {
            @include position(absolute, initial, 0px, 3px, initial);
            @include box(10px, 10px);
            background-color: $caribbean-green-color;
            content: '';
            border-radius: 50%;
        }
    }
}



.sidebar {
    @include position(fixed, 0px, initial, initial 0px);
    @include box(100vh, 240px);
    @include scroll-bar($primary-color);
    color: $gainsboro-color;
    background-color: $primary-color;
    overflow-y: scroll;
    padding-top: 54px;

    &:hover {
        &::-webkit-scrollbar-thumb {
            visibility: visible;
        }
    }

    h5 {
        @include size-weight(14px, bold);
        color: $gainsboro-color;
        text-transform: uppercase;
        padding: 20px 20px 10px 10px;
    }

    li {
        justify-content: space-between;
        cursor: pointer;
        padding: 10px;

        &:hover {
            background-color: $charcol-color;
        }

        h6 {
            @include size-weight(14px, lighter);
            color: $gainsboro-color;
        }

        i {
            padding-right: 10px;
            font-size: 15px;
        }


    }

    &__apps {
        li {
            justify-content: flex-start;

            &:nth-child(7),
            &:last-child {
                justify-content: space-between;
            }
        }
    }

    &__pages {
        li {

            &:nth-child(2),
            &:last-child {
                justify-content: flex-start;
            }
        }
    }

    &__others {
        li {
            justify-content: flex-start;

            &:first-child {
                justify-content: space-between;
            }
        }
    }
}

.maincontent {
    padding: 55px 0 0 240px;

    >div {
        &:nth-child(3) {
            >div {
                box-shadow: 4px 4px 20px 2px rgba(0, 0, 0, 0.1);
            }
        }
    }

    &__button {
        @include position(fixed, initial, 30px, 40px, initial);
        background-color: $dark-orchid-color;
        display: inline-block;
        padding: 10px 20px;
        font-size: 14px;
        border-radius: 5px;
        z-index: 5;

        a {
            color: $white-color;
        }
    }

    &__setting {
        @include position(fixed, initial, 0px, 60%, initial);
        background-color: $ultra-red-color;
        display: inline-block;
        padding: 15px 15px;
        font-size: 14px;
        z-index: 5;

        a {
            color: $white-color;
        }

        i {
            -webkit-animation: fa-spin 5s infinite;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        padding: 25px;


        >div {
            background-color: $white-color;
        }
    }

    &__statistics {
        align-items: center;
        grid-column: 1 / 5;
        height: 115px;

        >div {
            >div {
                border-right: 1px solid $bright-gray-color;
                justify-content: space-around;

                h2 {
                    color: $primary-color;
                    font-size: 26.5px;
                }

                h5 {
                    @include size-weight(14px, 100);
                    font-family: $opensans-font-family;
                    color: $silver-sand-color;
                }

                i {
                    font-size: 32px;
                }

                >div {
                    font-size: 14px;

                    i {
                        font-size: 14px;
                    }
                }


                >:first-child {
                    color: $secondary-color;
                    background-color: $cultured-color;
                    padding: 20px;
                }
            }

            &:nth-child(odd) {
                >div {
                    >div {
                        &:last-child {
                            color: $secondary-color;
                        }
                    }
                }
            }

            &:nth-child(even) {
                >div {
                    >div {
                        &:last-child {
                            color: $ultra-red-color;
                        }
                    }
                }
            }

            &:nth-child(2) {
                >div {
                    >i {
                        color: $ultra-red-color;
                    }
                }
            }

            &:nth-child(3) {
                >div {
                    >i {
                        color: $caribbean-green-color;
                    }
                }
            }

            &:last-child {
                >div {
                    >i {
                        color: $light-salmon-color;
                    }

                    border: none;
                }
            }
        }

    }

    &__power {
        grid-column: 1 / 3;
        height: 440px;

        img {
            height: 370px;
        }

        >div {
            justify-content: space-between;
            padding: 15px;

            >h5 {
                @include size-weight(18px, 500);
                color: $primary-color;

                span {
                    font-family: $opensans-font-family;
                    font-size: 14px;
                }
            }

            >div {
                >div {
                    justify-content: flex-end;

                }

                h5 {
                    @include size-weight(16px, 500);
                    color: $primary-color;
                    padding-right: 15px;

                    &:last-child {
                        font-weight: 100;
                        color: rgb(100, 100, 100);
                    }
                }
            }
        }
    }

    &__sales {
        height: 443px;

        h4 {
            font-family: $opensans-font-family;
            color: $silver-sand-color;
            padding-left: 15px;
            font-size: 14px;

        }

        >div {
            &:first-child {
                border-bottom: 1px $bright-gray-color solid;
                padding-left: 15px;

                h5 {
                    @include size-weight(14px, 100);
                    font-family: $opensans-font-family;
                    color: $secondary-color;
                    margin-right: 10px;
                    padding: 15px 0;

                    &:first-child {
                        border-bottom: 2px $primary-color solid;
                    }
                }
            }
        }

        >div {
            &:nth-child(2) {
                padding: 20px 0 0 15px;

                h3 {
                    color: $primary-color;
                    padding-right: 20px;
                    font-size: 21px;
                }

                h6 {
                    color: $secondary-color;
                    font-size: 11px;

                    i {
                        padding-right: 5px;
                    }
                }
            }
        }
    }

    &__bar {
        justify-content: space-around;
        padding-top: 20px;

        h6 {
            color: $primary-color;
            padding-top: 10px;
            font-size: 12px;
        }

        >div {
            &:first-child {
                >div {
                    >div {
                        height: 40%;
                    }
                }
            }

            &:nth-child(2) {
                >div {
                    >div {
                        height: 60%;
                    }
                }
            }

            &:nth-child(3) {
                >div {
                    >div {
                        background-color: $ultra-red-color;
                        height: 65%;
                    }
                }
            }

            &:nth-child(4) {
                >div {
                    >div {
                        height: 55%;
                    }
                }
            }

            &:nth-child(5) {
                >div {
                    >div {
                        background-color: $light-salmon-color;
                        height: 90%;
                    }
                }
            }

            &:last-child {
                >div {
                    >div {
                        height: 57%;
                    }
                }
            }

            >div {
                @include box(240px, 12px);
                margin: 0 7px;
                background-color: rgb(230, 230, 230);
                transform: rotate(180deg);

                >div {
                    background-color: $secondary-color;
                    height: 50%;
                }

            }
        }
    }

    &__region {
        >h6 {
            @include size-weight(14px, 100);
            color: $secondary-color;
            border-bottom: 1px $bright-gray-color solid;
            margin-right: 10px;
            padding: 25px 0 15px 25px;
        }

        >:nth-child(2) {
            @include box(240px, 240px);
            margin: auto;
        }

        >:nth-child(3) {
            justify-content: center;

            h5 {
                font-family: $opensans-font-family;
                color: $primary-color;
                font-size: 14px;
            }

            >div {
                align-items: center;
                padding-right: 10px;

                >div {
                    @include box(10px, 10px);
                    margin-right: 3px;
                    padding: 0;
                }

            }
        }

        >:last-child {
            font-family: $opensans-font-family;
            color: $primary-color;
            border-top: 1px $bright-gray-color solid;
            justify-content: space-evenly;
            text-align: center;
            margin-top: 40px;



            h4 {
                @include size-weight(28px, lighter);
            }

            h6 {
                @include size-weight(14px, lighter);
            }

            >div {
                border-right: 1px $bright-gray-color solid;
                padding: 10px 0;
            }

            >div:last-child {
                border-right: 0px;

            }
        }
    }

    &__update {
        height: 235px;

        >div {
            &:first-child {
                justify-content: space-between;
                padding: 15px;

                h4 {
                    color: $primary-color;
                    padding: 0;
                    font-size: 18.5px;
                }

                h6 {
                    padding: 0;
                    font-size: 14px;
                }

                a {
                    font-family: $opensans-font-family;
                    color: $viridian-green-color;
                    font-weight: 100;
                }
            }
        }

        >div {
            &:last-child {
                @include scroll-bar($white-color);
                overflow: scroll;
                height: 182px;
                padding: 0 15px 15px;

                &:hover {
                    &::-webkit-scrollbar-thumb {
                        visibility: visible;
                    }
                }

            }
        }

        li {
            font-family: $opensans-font-family;

            h5 {
                @include size-weight(14px, 400);
                color: $dark-electric-blue-color;
            }

            h6 {
                @include size-weight(12.5px, 100);
                color: $primary-color;
            }

            &:first-child {
                padding-bottom: 18px;

                i {
                    @include update-logo($secondary-color);
                }
            }

            &:nth-child(2) {
                padding: 18px 0;

                i {
                    @include update-logo($turquoise-color);
                }
            }

            &:nth-child(3) {
                padding: 18px 0;

                i {
                    @include update-logo($ultra-red-color);
                }
            }

            &:nth-child(4) {
                padding: 18px 0;

                i {
                    @include update-logo($secondary-color);
                }
            }

            &:nth-child(5) {
                padding: 18px 0;

                i {
                    @include update-logo($turquoise-color);
                }
            }

            &:last-child {
                padding-top: 18px;

                i {
                    @include update-logo($ultra-red-color);
                }
            }
        }
    }

    &__information {
        grid-column: 2 / 5;

        >div {
            &:first-child {
                color: $primary-color;
                padding: 20px 15px;
                font-size: 18px;

                h4 {
                    font-weight: 500;
                }
            }
        }

        >div {
            &:last-child {
                font-family: $opensans-font-family;
                border-top: 1px solid $bright-gray-color;

                >div {

                    >div {
                        border-right: 1px solid $bright-gray-color;
                        align-items: center;
                        padding: 30px;
                    }
                }

                img {
                    @include box(110px, 110px);
                }

                h5 {
                    color: $primary-color;
                    margin-bottom: 5px;
                    font-size: 16px;
                }

                p {
                    @include size-weight(14px, 100);
                    color: $cadet-grey-color;
                    margin-bottom: 10px;
                }

                >div {
                    &:last-child {
                        >div {
                            border-right: 0px;
                        }
                    }
                }
            }
        }
    }

    &__users {
        @include box(470px, 100%);
        grid-column: 1 / 4;

        >div {
            color: $primary-color;
            padding: 20px;
            font-size: 16px;

            a {
                color: $primary-color;
            }
        }

        th,
        td {
            border-bottom: 1px solid $bright-gray-color;
            border-collapse: collapse;
        }

        table {
            border-top: 1px solid $bright-gray-color;
            padding: 0;
            border-bottom: 0px;

            img {
                @include box(30px, 30px);
                margin-right: 10px;
                border-radius: 50%;
            }

            tr {
                border: 1px solid $primary-color;
            }

            th {
                @include size-weight(14px, bolder);
                font-family: $opensans-font-family;
                color: $primary-color;
                text-align: start;
                padding: 10.5px 28px;
            }

            tr {
                h5 {
                    @include size-weight(14px, 100);
                    font-family: $opensans-font-family;
                    color: $primary-color;
                }

                >td:first-child {
                    align-items: center;
                    padding: 10.5px 28px;
                }

                >td:nth-child(2) {
                    span {
                        @extend h5;
                        padding: 10.5px 28px;
                    }
                }

                >td:nth-child(3) {
                    span {
                        @extend h5;
                        padding: 10.5px 28px;
                    }
                }

                >td:nth-child(4) {
                    @extend h5;
                    padding: 10.5px 28px;

                    >div {
                        @include box(14px, 78.5px);
                        background-color: $bright-gray-color;
                        border-radius: 3px;

                        >div {
                            @include box(100%, 55%);
                            color: $white-color;
                            background-color: $caribbean-green-color;
                            text-align: center;
                            font-size: 10px;
                            border-radius: 3px;
                        }
                    }
                }

                >td:nth-child(5) {
                    padding: 10.5px 28px;
                }

                >td:last-child {
                    padding: 10.5px 28px;

                    a {
                        color: $primary-color;

                        div {
                            i {
                                padding-right: 15px;
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    >td:nth-child(4) {
                        >div {
                            >div {
                                background-color: $light-salmon-color;
                            }
                        }
                    }
                }

                &:nth-child(3) {
                    >td:nth-child(4) {
                        >div {
                            >div {
                                background-color: $ultra-red-color;
                                width: 65%;
                            }
                        }
                    }
                }

                &:nth-child(4) {
                    >td:nth-child(4) {
                        >div {
                            >div {
                                width: 78%;
                            }
                        }
                    }
                }

                &:nth-child(5) {
                    >td:nth-child(4) {
                        >div {
                            >div {
                                background-color: $light-salmon-color;
                                width: 51%;
                            }
                        }
                    }
                }

                &:last-child {
                    >td:nth-child(4) {
                        >div {
                            >div {
                                background-color: $ultra-red-color;
                                width: 47%;
                            }
                        }
                    }
                }
            }
        }
    }

    &__tasks {
        >div {
            color: $primary-color;
            padding: 21px;
            font-size: 16px;

            a {
                color: $primary-color;
            }
        }

        ul {
            padding: 20px;
        }

        li {
            padding: 0 0 30px 30px;

            >div {
                justify-content: space-between;

                h5 {
                    color: $primary-color;
                    margin-bottom: 5px;
                    padding: 0;
                    font-size: 14px;
                }

                h6 {
                    font-family: $opensans-font-family;
                    color: $silver-sand-color;
                    font-size: 12.5px;
                }
            }

            >h6 {
                font-family: $opensans-font-family;
                color: $silver-sand-color;
                font-size: 13px;
            }

            &:first-child {
                @include position(relative);

                &::before {
                    @extend .task-before;
                    background-color: $secondary-color;
                }

                &::after {
                    @extend .task-after;
                }

                img {
                    @include box(20px, 20px);
                    margin-top: 10px;
                    border-radius: 50%;
                }
            }

            &:nth-child(2) {
                @include position(relative);

                &::before {
                    @extend .task-before;
                    background-color: $ultra-red-color;
                }

                &::after {
                    @extend .task-after;
                }
            }

            &:nth-child(3) {
                @include position(relative);

                &::before {
                    @extend .task-before;
                    background-color: $light-salmon-color;
                }

                &::after {
                    @extend .task-after;
                }
            }

            &:last-child {
                @include position(relative);

                &::before {
                    @extend .task-before;
                    background-color: $turquoise-color;
                }

                a {
                    @include position(relative);
                    display: inline-block;
                }

                img {
                    @include box(20px, 20px);
                    border: 2px solid $white-color;
                    margin-top: 10px;
                    border-radius: 50%;

                    &:first-child {
                        @include position(absolute, initial, initial, initial, 0);
                    }

                    &:nth-child(2) {
                        @include position(absolute, initial, initial, initial, 12px);
                    }

                    &:last-child {
                        @include position(absolute, initial, initial, initial, 25px);
                    }

                }
            }
        }
    }
}

.footer {
    background-color: $white-color;
    height: 32px;
    margin-left: 240px;
    padding: 5px;

    span {
        @include size-weight(14px, 100);
        font-family: $opensans-font-family;
        color: $cadet-grey-color;
    }

    a {
        color: $viridian-green-color;
    }

    i {
        color: $razzmatazz-color;
    }
}