@mixin position($pos: initial, $top: initial, $righ: initial, $bottom: initial, $left: initial) {
    position: $pos;
    top: $top;
    right: $righ;
    bottom: $bottom;
    left: $left;
}

@mixin size-weight($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}