$chinese-blue-color: #405189;
$white-color: #fff;
$balck-color: #000;
$coll-gray-color: #838FB9;
$maximum-blue-purple-color: #abb9e8;
$cultured-color: #f3f3f9;
$roman-silver-color: #878a99;
$dark-gunmetal-color: #212529;
$davys-grey-color: #495057;
$button-blue-color: #299CDB;
$fire-opal-color: #f06548;
$ultramarine-blue-color: #3577f1;
$bright-gray-color: #e9ebec;
$anti-flash-white-color: #eff2f7;
$persian-green-color: #0AB39C;
$wild-blue-yonder-color: #a0a8c4;
$light-gray-color: #ced4da;
$moonstone: #299CDB;
$cadet-grey: #98a6ad;
$americal-blue-color: #364574;

$hkgrotesk-font: 'hkgrotesk', 'Times New Roman', Times, serif;
$poppins-font: 'Poppins', sans-serif;