@import 'common-flex-base';
@import 'utility';
@import 'variable';
@import 'mixin';

.sidebar {
    @include position(absolute, 0, initial, initial, 0);
    background-color: $chinese-blue-color;
    width: 249px;

    h5 {
        color: $coll-gray-color;
        text-transform: uppercase;
        padding: 12px 20px;
        font-size: 11px;
        letter-spacing: 0.05em;
    }

    h6 {
        @include size-weight(15px, 100);
        color: $maximum-blue-purple-color;
        font-family: $hkgrotesk-font;
    }

    i {
        color: $maximum-blue-purple-color;
        font-size: 18px;
    }

    li {
        justify-content: space-between;
        padding: 10px 10px 10px 24px;

        >div {
            align-items: center;

            i {
                margin-right: 10px;
                font-size: 16px;
            }
        }

        &:hover {
            cursor: pointer;

            i {
                color: $white-color;
            }

            h6 {
                color: $white-color;

                &::before {
                    color: $white-color;
                }
            }
        }
    }

    &__logo {
        @include position(fixed, 0, initial, initial, 0);
        background-color: $chinese-blue-color;
        text-align: center;
        height: 70px;
        width: 249px;
        z-index: 5;

        img {
            cursor: pointer;
            height: 17px;
            width: 100px;
            margin-top: 30px;
        }
    }

    &__scroll {
        @include position(fixed, initial, initial, 0, 0);
        background-color: $chinese-blue-color;
        overflow-y: scroll;
        height: calc(100vh - 70px);
        width: 249px;

        &::-webkit-scrollbar {
            width: 7px;
        }

        &::-webkit-scrollbar-track {
            background: $chinese-blue-color;
        }

        &::-webkit-scrollbar-thumb {
            visibility: hidden;
            background: #999;
            border-radius: 20px;
        }

        &:hover {
            &::-webkit-scrollbar-thumb {
                visibility: visible;
            }
        }

        >div {
            >ul {
                >ul {
                    padding-left: 24px;

                    li {
                        &:nth-child(2) {
                            h6 {
                                color: $white-color;
                            }

                            i {
                                color: $white-color;
                            }
                        }
                    }

                    >li {
                        padding: 8.8px 0px;

                        &:nth-child(2) {
                            padding: 8.8px 20px 8.8px 0px;
                        }

                        h6 {
                            font-family: $poppins-font;
                            font-size: 13px;
                            font-weight: 400;


                            &::before {
                                color: $coll-gray-color;
                                content: '-';
                                margin-right: 15px;

                                &:hover {
                                    color: $white-color;
                                }
                            }
                        }

                        i {
                            font-size: 16px;
                        }
                    }

                    ul {
                        padding-left: 20px;

                        h6 {
                            font-family: $poppins-font;
                            font-size: 13px;
                            font-weight: 300;
                        }

                        li {
                            justify-content: initial;
                            align-items: center;
                            padding: 10px 0px;

                            i {
                                padding-right: 15px;
                                font-size: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.upperarrow {
    @include position(fixed, initial, 28px, 100px);
    background-color: $fire-opal-color;
    text-align: center;
    cursor: pointer;
    z-index: 10;
    height: 37.5px;
    width: 37.5px;

    i {
        color: $white-color;
        font-size: 10px;
        line-height: 37.5px;
    }
}

.setting {
    @include position(fixed, initial, 20px, 40px);
    background-color: $moonstone;
    text-align: center;
    cursor: pointer;
    z-index: 10;
    height: 48.77px;
    width: 48.77px;
    border-radius: 50%;

    i {
        color: $white-color;
        -webkit-animation: fa-spin 5s infinite;
        font-size: 20px;
        line-height: 50px;
    }
}

.main-content {
    @include position(absolute, 0, initial, initial, 0);
    margin-left: 249px;
    width: calc(100% - 249px);

    &__background {
        background: url('../img/profile-bg.jpg') no-repeat center center/cover;
        margin-top: 70px;
        height: 260px;

        &::before {
            background-color: $chinese-blue-color;
            content: '';
            position: absolute;
            height: 260px;
            width: 100%;
            opacity: 0.9;
        }

        a {
            @include size-weight(12.96px, 400);
            color: $balck-color;
        }

        i {
            color: $balck-color;
            margin-right: 4px;
            font-size: 12.96px
        }

        >div {
            @include position(absolute, 86px, 0);
            background-color: $white-color;
            align-items: center;
            margin-right: 16px;
            padding: 8px 14.4px;
            border-radius: 4px;
            z-index: 11px;
        }

    }

    &__nav {
        @include position(fixed, 0, 0);
        background-color: $white-color;
        justify-content: space-between;
        height: 70px;
        width: calc(100% - 249px);
        padding: 0 24px 0 12px;
        z-index: 10;
    }

    &__left {
        align-items: center;
        height: 100%;

        >i {
            color: $dark-gunmetal-color;
            cursor: pointer;
            padding: 4px 16px;
        }

        input {
            background-color: $cultured-color;
            border: none;
            outline: none;
            height: 38px;
            width: 321px;
            padding: 8px 30px 8px 40px;
        }

        >div {
            @include position(relative);

            i {
                @include position(absolute, 10px, initial, initial, 13px);
                color: $roman-silver-color;
                font-size: 16px;
            }
        }
    }

    &__right {
        align-items: center;
        height: 100%;

        >div {
            align-items: center;
            margin-left: 4px;

            i {
                color: $davys-grey-color;
                border-radius: 50%;
                padding: 13px;

                &:hover {
                    color: $ultramarine-blue-color;
                    background-color: rgba($color: $ultramarine-blue-color, $alpha: 0.1);
                    cursor: pointer;
                }
            }

            &:first-child {
                padding: 8px 13px;
                border-radius: 50%;

                &:hover {
                    color: $ultramarine-blue-color;
                    background-color: rgba($color: $ultramarine-blue-color, $alpha: 0.1);
                    cursor: pointer;
                }

                img {
                    height: 20px;
                    width: 20px;
                    margin-top: 5px;
                }
            }

            &:last-child {
                background-color: $cultured-color;
                align-items: center;
                cursor: pointer;
                height: 100%;
                margin-left: 16px;
                padding: 8px 14.4px;

                img {
                    height: 32px;
                    width: 32px;
                    margin-right: 10px;
                    border-radius: 50%;
                }

                h5 {
                    @include size-weight(13px, 500);
                    color: $davys-grey-color;
                }

                h6 {
                    @include size-weight(12px, 400);
                    color: $roman-silver-color;
                }
            }
        }
    }

    &__shopping {
        @include position(relative);

        i {
            &::after {
                @include size-weight(10px, 600);
                @include position(absolute, initial, 2px, 30px);
                background-color: $button-blue-color;
                color: $white-color;
                content: '5';
                padding: 2px 6px;
                line-height: 15px;
                border-radius: 50%;
            }
        }
    }

    &__notification {
        @include position(relative);

        &::after {
            @include size-weight(10px, 600);
            @include position(absolute, initial, 5px, 30px, );
            background-color: $fire-opal-color;
            color: $white-color;
            content: '3';
            padding: 2px 6px;
            line-height: 15px;
            border-radius: 50%;
        }
    }

    &__setting {
        @include position(absolute, 282px);
        margin: auto;
        height: 728px;
        width: 100%;

        >div {
            padding: 0 12px;

            >div {
                padding: 0 12px;
            }
        }
    }

    &__intro {
        background-color: $white-color;
        text-align: center;
        height: 234.5px;
        margin-bottom: 24px;
        padding: 24px;
        border-radius: 5px;

        >div {
            @include position(relative);
            margin: auto;
            height: 120px;
            width: 120px;

            i {
                @include position(absolute, initial, 0, 0, initial);
                background-color: $bright-gray-color;
                cursor: pointer;
                padding: 10px;
                font-size: 13px;
                border-radius: 50%;
            }

            img {

                border: 5px solid $bright-gray-color;
                height: 120px;
                width: 120px;
                border-radius: 50%;
            }
        }

        h5 {
            @include size-weight(16px, 600);
            color: $davys-grey-color;
            margin-top: 20px
        }

        h6 {
            @include size-weight(13px, 400);
            color: $roman-silver-color;
        }
    }

    &__profile {
        @include position(relative);
        background-color: $white-color;
        text-align: center;
        height: 115.5px;
        margin-bottom: 24px;
        padding: 16px;
        border-radius: 5px;

        h5 {
            @include size-weight(16px, 500);
            color: $davys-grey-color;
        }

        i {
            font-size: 12px;
        }
    }

    &__profile-title {
        justify-content: space-between;

        >div {
            @include size-weight(12px, 600);
            color: $chinese-blue-color;
            background-color: rgba($color: $chinese-blue-color, $alpha: 0.1);
            align-items: center;
            cursor: pointer;
            padding: 4.2px 7.8px;
            border-radius: 5px;

            i {
                margin-right: 10px;
            }
        }
    }

    &__progress-bar {
        @include position(absolute, initial, initial, 16px);
        background-color: $anti-flash-white-color;
        height: 15px;
        width: calc(100% - 32px);
        border-radius: 30px;

        >div {
            @include position(absolute, 4px, initial, initial, 4px);
            background-color: $fire-opal-color;
            height: 7px;
            width: 30%;
            border-radius: 30px;

            &::after {
                @include position(absolute, 2px, 2px);
                background-color: $white-color;
                content: '';
                height: 3.5px;
                width: 3.5px;
                border-radius: 50%
            }
        }

        span {
            @include position(absolute, initial, initial, 25px, 27%);
            background-color: $chinese-blue-color;
            color: $white-color;
            display: inline-block;
            animation: label 2s;
            padding: 4px 4px;
            font-size: 9.75px;
            border-radius: 4px;


            &::before {
                @include position(absolute, 18px, 40%);
                background-color: $chinese-blue-color;
                content: '';
                height: 7px;
                width: 7px;
                transform: rotate(45deg);
            }
        }
    }

    &__portfolio {
        background-color: $white-color;
        text-align: center;
        height: 274.5px;
        padding: 16px;
        border-radius: 5px;

        >div {
            &:first-child {
                justify-content: space-between;
                padding-bottom: 24px;

                >div {
                    @include size-weight(12px, 600);
                    color: $chinese-blue-color;
                    background-color: rgba($color: $chinese-blue-color, $alpha: 0.1);
                    align-items: center;
                    cursor: pointer;
                    padding: 4.2px 7.8px;
                    border-radius: 5px;

                    h6 {
                        @include size-weight(12px, 600);
                        color: $davys-grey-color;
                    }

                    i {
                        @include size-weight(12px, 600);
                        margin-right: 10px;
                    }
                }
            }
        }

        input {
            @include size-weight(12.96px, 400);
            font-family: $poppins-font;
        }

        h5 {
            @include size-weight(16px, 500);
            color: $davys-grey-color;
        }
    }

    &__github {
        @extend .social;

        i {
            background-color: $balck-color;
        }
    }

    &__website {
        @extend .social;

        i {
            background-color: $chinese-blue-color;
        }
    }

    &__dribble {
        @extend .social;

        i {
            background-color: $persian-green-color;
        }
    }

    &__pinterest {
        @extend .social;
        margin-bottom: 0;

        i {
            background-color: $fire-opal-color;
        }
    }

    &__update {
        background-color: $white-color;
        height: 752px;
        margin-bottom: 24px;
        border-radius: 5px;

        >div {
            border-bottom: 1px solid $bright-gray-color;
        }

        ul {
            margin: auto;
            width: 1183px;

            li {
                cursor: pointer;
                padding: 16px;

                &:first-child {
                    border-bottom: 1px solid $chinese-blue-color;
                }
            }

            a {
                @include size-weight(13px, 500);
                color: $chinese-blue-color;
            }
        }
    }

    &__form {
        padding: 24px;

        >div {
            margin-bottom: 16px;

            >div {
                width: 100%;


                input {
                    width: 100%
                }
            }

            &:last-child {
                justify-content: flex-end;

                button {
                    @include size-weight(12.96px, 400);
                    color: $white-color;
                    background-color: $chinese-blue-color;
                    cursor: pointer;
                    display: inline-block;
                    border: none;
                    padding: 8px 14.4px;
                    line-height: 1.5;
                    border-radius: 4px;
                }
            }
        }

        .col-md-6,
        .col-md-4 {
            padding: 0;
        }

        label {
            @include size-weight(13px, 500);
            display: block;
            margin-bottom: 8px;
        }

        input,
        textarea {
            @include size-weight(12.8px, 400);
            font-family: $poppins-font;
            color: $dark-gunmetal-color;
            border: 1px solid $light-gray-color;
            outline: none;
            width: 100%;
            padding: 8px 14.4px;
            border-radius: 4px;
            line-height: 1.5;
        }

        textarea {
            height: 76.5px;
        }
    }

    &__footer {
        >div {
            background-color: $white-color;
            padding: 20px 12px;
        }

        h6 {
            @include size-weight(12.96px, 400);
            color: $cadet-grey;

            &:last-child {
                text-align: end;
            }
        }
    }
}