$screenwidth: 1140px;
$primary: #f6f3ea;
$secondary: #fb4f31;
$thirdcolor: #0c2461;
$fourthcolor: #3c6382;
$bordercolor: #e4f1fb;
$bordercolor: #e6f0fa;
$starcolor: #f0932b;
$pricecolor: #3b04db;
$contactborder: #daecfd;
$footertext: #0c2461;