$screenwidth: 1140px;
$primary: #f6f3ea;
$secondary: #fb4f31;

$secondary-font-family: 'Barlow', sans-serif;

$white: #fff;
$cool-black: #0c2461;
$ming: #3c6382;
$lavender: #e4f1fb;
$carrot-orange: #ffb400;