@import 'common-flex-base';
@import 'variable';
@import 'mixin';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    margin: auto;
    position: relative;
    width: 1140px;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}

body>:nth-child(2n+1) {
    background-color: $primary;
}

body>:nth-child(1) {
    background-color: #fff;
}

body>:nth-child(3) {
    background-color: #fbd7b5;
}

//Global or utility classes
.top-left {

    h5 {
        color: $secondary;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    h1,
    h2 {
        color: $thirdcolor;
        margin-bottom: 1.25rem;
        font-size: 3.25rem;
    }

    p {
        color: $fourthcolor;
        margin-bottom: 4rem;
        line-height: 2rem;
    }

    &--m {
        //
        text-align: center;

        h5 {
            color: $secondary;
            margin-bottom: 1rem;
            font-weight: 900;
        }

        h1,
        h2 {
            color: $thirdcolor;
            font-weight: bold;
            margin-bottom: 1.25rem;
            font-size: 3.125rem;
        }

        p {
            color: $fourthcolor;
            margin-bottom: 4rem;
            line-height: 2rem;
        }
    }
}

.button {
    display: inline-block;
    font-family: 'Barlow', sans-serif;
    background-color: #ff6348;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    font-weight: 800;
    border-radius: 0.3rem;

    //
    &-btn {
        @extend .button;
        border: none;
        cursor: pointer;
    }
}

.header {

    &__top {
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $bordercolor;
        padding: 1rem;
        font-size: 1rem;
    }

    &__contact {
        i {
            color: $secondary;
            padding-right: 0.5rem;
        }

        span {
            color: $thirdcolor;
            font-weight: 900;
        }

        &-icon {
            ul {
                margin-left: 3.3rem;
            }

            i {
                color: $secondary;
                transition: color, background-color 0.5s;
                border: 1px solid $secondary;
                text-align: center;
                border-radius: 0.5rem;
                width: 2.3rem;
                height: 2.3rem;
                line-height: 2.3rem;
                margin-left: 0.7rem;

                &:hover {
                    //
                    background-color: $secondary;
                    color: #fff;
                }
            }
        }
    }


}

.nav {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0px 2px 10px 1px rgb(230, 230, 230);

    &__navbar {
        padding: 1.5rem;

        >div {
            align-items: center;
            justify-content: space-between;
        }
    }

    &__pages {
        a {
            color: #000;

            &:hover {
                //
                color: $secondary;
            }
        }

        li {
            font-weight: bold;
            padding-right: 1.5rem;
            font-size: 1.2rem;
        }
    }
}

.home {
    padding: 9.65rem 0;

    >div {
        align-items: center;
    }

    &__content {
        padding-right: 5rem;

        a {
            margin-right: 1rem;
        }

        span {
            color: $thirdcolor;
            font-weight: 800;
            font-size: 1.5rem;
        }

        .top-left {
            h1 {
                font-size: 4.5rem;
            }

            p {
                font-size: 1.5rem;
            }
        }
    }

    &__image {
        height: 450px;
        width: 450px;
    }
}

.about {
    padding: 6rem 0;

    >div {
        align-items: center;
    }

    img {
        height: 400px;
        width: 540px;
    }

    &__list {
        margin-bottom: 2rem;

        li {
            color: $thirdcolor;
            font-weight: bold;
            padding: 0.5rem 0;

        }

        i {
            color: $secondary;
            margin-right: 0.5rem;
        }
    }
}

.features {
    padding: 6rem 0 3rem;

    .top-left--m {
        margin: auto;
        width: 750px;
    }

    &__description {
        padding: 0 0 2rem 2rem;

        div {
            align-items: center;
            padding: 1rem 0 2rem 0;
        }

        h4 {
            color: $thirdcolor;
        }

        p {
            color: $fourthcolor;
            line-height: 2rem;
        }
    }

    i {
        color: $secondary;
        margin-right: 1rem;
    }
}

.product-demo {
    text-align: center;
    padding: 6rem 0 6.25rem;

    .top-left--m {
        margin: auto;
        width: 750px;
    }

    &__image {
        padding: 12.5rem 0rem;
        background: url('../img/watch-img-2.jpg') center center/cover no-repeat;
        border-radius: 0.75rem;

        i {
            background-color: $secondary;
            color: #fff;
            padding: 1.75rem 1.8rem 1.75rem 2rem;
            border-radius: 50%;
        }
    }
}

.offer {
    padding: 6rem 0;

    &__image {
        width: 33.75rem;
        height: 18.75rem;
    }
}

.testimonials {
    padding: 6rem 0 9.68rem;

    @include contentcenter;

    &__card {
        text-align: center;
        padding: 0;
        padding-right: 0.5rem;

        >div {
            border: 2px solid $bordercolor;
            border-radius: 1rem;
            padding: 2rem 1rem;

            img {
                border-radius: 50%;
                width: 6.25rem;
                height: 6.25rem;
            }

            //
            >:first-child {
                color: $secondary;
            }

            p {
                color: $fourthcolor;
                line-height: 1.5rem;
                margin-bottom: 1rem;
            }

            :nth-child(3) {
                color: $starcolor;
                margin-bottom: 3rem;
            }

            h4,
            h6 {
                color: $thirdcolor;
            }

            h4 {
                font-size: 1.5rem;
                padding: 1rem 0;
            }

            h6 {
                margin-bottom: 0.5rem;
            }
        }
    }

    >div {
        >div:last-child {
            justify-content: center;
            margin-top: 2rem;

            i {
                padding-right: 0.5rem;
            }
        }
    }
}

.product {
    padding: 6rem 0 6.25rem;
    text-align: center;

    @include contentcenter;

    &__card {
        padding: 0;
        padding-right: 0.5rem;

        >div {
            background-color: #fff;
            padding: 3.75rem 0 2.5rem;
            border-radius: 1rem;

            img {
                width: 14.375rem;
                height: 19.375rem;
                margin-bottom: 3rem;
            }

            h4 {
                color: $thirdcolor;
                margin-bottom: 1rem;
                font-size: 1.75rem;
            }

            div {
                color: $starcolor;
            }

            h5 {
                color: $pricecolor;
                margin: 1rem 0 2rem;
                font-size: 1.25rem;
            }
        }
    }

    >div {
        >a {
            i {
                color: $secondary;
                background-color: #fff;
                border-radius: 0.25rem;
                margin: 2rem 1rem 0 0;
                padding: 1rem;
            }
        }
    }
}

.faq {
    padding: 6rem 0 4.1rem;

    @include contentcenter;

    &__question {
        padding: 1rem 1rem;

        h3 {
            color: $thirdcolor;
            margin-bottom: 1rem;
        }

        p {
            color: $fourthcolor;
            margin-bottom: 1rem;
            line-height: 2rem;
        }
    }
}

.newsletter {
    padding: 6rem 0 6.25rem;

    @include contentcenter;

    >div {
        >div:last-child {
            justify-content: center;
            align-items: center;
            position: relative;

            input {
                outline: none;
                border: 1px $bordercolor solid;
                padding: 1rem;
                height: 4rem;
                width: 100%;

                @include focus;
            }

            a {
                position: absolute;
                top: 0.1rem;
                right: 0;
                border-radius: 0;
                height: 3.8rem;
                line-height: 2rem;
            }
        }
    }
}

.ourproduct {
    padding: 6.25rem 0 3.75rem;

    img {
        width: 33.75rem;
        height: 38.8rem;
    }

    &__services {

        li {
            padding-bottom: 2rem;
            line-height: 2rem;

            >div {
                padding: 0;
            }

        }

        i {
            display: inline-block;
            color: $secondary;
            margin-right: 1rem;
        }

        span {
            color: $thirdcolor;
            font-size: 1.4rem;
            font-weight: 500;
        }
    }
}

.icon {
    padding: 7rem 0;

    &__content {
        align-items: center;

        >div {
            line-height: 2rem;
            margin-left: 1.9rem;

            h3 {
                font-size: 1.7rem;
                color: $thirdcolor;
            }

            span {
                color: $fourthcolor;
            }
        }
    }

    i {
        height: 5.5rem;
        width: 5.5rem;
        line-height: 5.5rem;
        text-align: center;
        color: #ff6348;
        background-color: #fff;
    }
}

.contact {
    padding: 6rem 0 5rem;


    label {
        color: $thirdcolor;
    }

    input {
        display: block;
        border: 1px $bordercolor solid;
        width: 100%;
        height: 3.125rem;
        border-radius: 0.25rem;
        outline: none;
        padding: 1rem;
        margin-bottom: 1.5rem;

        @include focus;
    }

    textarea {
        @extend input;
        height: 12.5rem;
        margin-bottom: 1rem;
    }



    &__flex {
        >div:last-child {
            >div {
                padding-bottom: 3rem;

                li {
                    padding-bottom: 0.5rem;
                }
            }

            i {
                color: $secondary;
                margin-bottom: 1rem;
            }

            ul {
                color: $fourthcolor;
            }
        }
    }
}

.footer {
    span {
        display: block;
        padding: 1.5rem 0;
        text-align: center;

        a {
            color: $secondary;
        }
    }

    &__container {
        padding: 5.6rem 0 4rem;
        border-bottom: 1px gray solid;
        color: $footertext;

        div:first-child {
            p {
                line-height: 1.5rem;
            }

            img {
                margin-bottom: 1rem;
            }
        }

        div:nth-child(2) {
            li {
                margin-bottom: 1.5rem;
            }

            a {
                color: $footertext;
            }
        }

        div:nth-child(3) {
            li {
                margin-bottom: 1.5rem;
            }

            a {
                color: $footertext;
            }
        }

        div:last-child {
            position: relative;
            padding: 0 1rem;

            input {
                outline: none;
                border: 1px $bordercolor solid;
                height: 3.75rem;
                width: 100%;
                border-radius: 3rem;
                padding-left: 2rem;

                @include focus;
            }

            .button {
                position: absolute;
                top: 0.2rem;
                right: 1.2rem;
                border-radius: 3rem;
            }

            h3 {
                margin-top: 2rem;
            }

            i {
                padding: 1rem;
                margin: 1rem 1rem 0 0;
                background-color: #fff;
                border-radius: 50%;
            }

            li {
                a {
                    color: $footertext;
                }
            }
        }
    }
}