@import 'common-flex-base';
@import 'variable';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: auto;
    position: relative;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}

body>:nth-child(2n+0) {}

body>:nth-child(2) {}

//Global or utility classes
.top-left {

    & h5 {}

    & h1,
    & h2 {}

    & p {}

    &--m {


        & h5 {}

        & h1,
        & h2 {}

        & p {}
    }
}

.button {


    &-btn {}
}

.header {
    &__top {}

    &__contact {
        & i {}

        & span {}

        &-icon {
            ul {}

            i {


                &:hover {}
            }
        }
    }

    &__nav {}

    &__pages {
        a {


            &:hover {}
        }

        li {}
    }
}

.home {

    &>div {}

    &__content {


        a {}

        span {}

        .top-left h1 {}

        .top-left p {}
    }

    &__image {}
}

.about {


    img {}

    &__content {}

    &__list {


        li {}

        i {}
    }
}

.features {
    padding: 6rem 0 3rem;


    &__description {

        div {}

        h4 {}

        p {}
    }

    i {}
}

.product-demo {


    &__image {


        i {}
    }
}

.offer {


    &__image {}
}

.testimonials {


    &__card {


        &>div:first-child {}

        p {}

        &>div:nth-child(3) {}

        img {}

        h4 {}

        h6 {}
    }
}

.product {
    &>div {


        &>i {}
    }

    &__card {}
}

.faq {
    &__question {
        h3 {}

        p {}
    }
}

.newsletter {
    &>div:last-child {
        input {}
    }
}

.ourproduct {
    img {}

    &__services {
        li {
            i {}

            span {}
        }
    }
}

.icon {


    &__content {


        &>div {


            & h3 {}

            & span {}
        }
    }

    & i {}
}

.contact {
    form {
        input {}

        textarea {}

    }

    &__flex div:last-child {


        i {}

        ul {}
    }
}

.footer {
    span {}

    &__container div:first-child {}

    &__container div:nth-child(2) {}

    &__container div:nth-child(3) {}

    &__container div:last-child {}
}