.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-right: -15px;
  padding-left: -15px; }

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%; }

@media (min-width: 1800px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-xl-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .order-xl-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .order-xl-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13; }
  .order-xl-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0; }
  .order-xl-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .order-xl-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .order-xl-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .order-xl-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }
  .order-xl-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5; }
  .order-xl-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6; }
  .order-xl-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7; }
  .order-xl-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8; }
  .order-xl-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9; }
  .order-xl-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10; }
  .order-xl-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11; }
  .order-xl-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12; }
  .offset-xl-0 {
    margin-left: 0; }
  .offset-xl-1 {
    margin-left: 8.333333%; }
  .offset-xl-2 {
    margin-left: 16.666667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.333333%; }
  .offset-xl-5 {
    margin-left: 41.666667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.333333%; }
  .offset-xl-8 {
    margin-left: 66.666667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.333333%; }
  .offset-xl-11 {
    margin-left: 91.666667%; } }

@media (min-width: 1200px) and (max-width: 1800px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-lg-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .order-lg-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .order-lg-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13; }
  .order-lg-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0; }
  .order-lg-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .order-lg-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .order-lg-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .order-lg-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }
  .order-lg-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5; }
  .order-lg-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6; }
  .order-lg-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7; }
  .order-lg-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8; }
  .order-lg-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9; }
  .order-lg-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10; }
  .order-lg-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11; }
  .order-lg-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12; }
  .offset-lg-0 {
    margin-left: 0; }
  .offset-lg-1 {
    margin-left: 8.333333%; }
  .offset-lg-2 {
    margin-left: 16.666667%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .offset-lg-4 {
    margin-left: 33.333333%; }
  .offset-lg-5 {
    margin-left: 41.666667%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .offset-lg-7 {
    margin-left: 58.333333%; }
  .offset-lg-8 {
    margin-left: 66.666667%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .offset-lg-10 {
    margin-left: 83.333333%; }
  .offset-lg-11 {
    margin-left: 91.666667%; } }

@media (min-width: 1025px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-md-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .order-md-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .order-md-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13; }
  .order-md-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0; }
  .order-md-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .order-md-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .order-md-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .order-md-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }
  .order-md-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5; }
  .order-md-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6; }
  .order-md-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7; }
  .order-md-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8; }
  .order-md-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9; }
  .order-md-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10; }
  .order-md-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11; }
  .order-md-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12; }
  .offset-md-0 {
    margin-left: 0; }
  .offset-md-1 {
    margin-left: 8.333333%; }
  .offset-md-2 {
    margin-left: 16.666667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.333333%; }
  .offset-md-5 {
    margin-left: 41.666667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.333333%; }
  .offset-md-8 {
    margin-left: 66.666667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.333333%; }
  .offset-md-11 {
    margin-left: 91.666667%; } }

@media (min-width: 600px) and (max-width: 1024px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-sm-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .order-sm-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .order-sm-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13; }
  .order-sm-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0; }
  .order-sm-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .order-sm-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .order-sm-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .order-sm-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }
  .order-sm-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5; }
  .order-sm-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6; }
  .order-sm-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7; }
  .order-sm-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8; }
  .order-sm-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9; }
  .order-sm-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10; }
  .order-sm-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11; }
  .order-sm-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12; }
  .offset-sm-0 {
    margin-left: 0; }
  .offset-sm-1 {
    margin-left: 8.333333%; }
  .offset-sm-2 {
    margin-left: 16.666667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.333333%; }
  .offset-sm-5 {
    margin-left: 41.666667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.333333%; }
  .offset-sm-8 {
    margin-left: 66.666667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.333333%; }
  .offset-sm-11 {
    margin-left: 91.666667%; } }

@media (min-width: 319px) and (max-width: 600px) {
  .col-xs {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-xs-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-xs-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-xs-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-xs-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xs-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-xs-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-xs-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xs-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-xs-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-xs-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xs-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-xs-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-xs-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .order-xs-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .order-xs-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13; }
  .order-xs-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0; }
  .order-xs-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .order-xs-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .order-xs-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .order-xs-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }
  .order-xs-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5; }
  .order-xs-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6; }
  .order-xs-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7; }
  .order-xs-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8; }
  .order-xs-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9; }
  .order-xs-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10; }
  .order-xs-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11; }
  .order-xs-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12; }
  .offset-xs-0 {
    margin-left: 0; }
  .offset-xs-1 {
    margin-left: 8.333333%; }
  .offset-xs-2 {
    margin-left: 16.666667%; }
  .offset-xs-3 {
    margin-left: 25%; }
  .offset-xs-4 {
    margin-left: 33.333333%; }
  .offset-xs-5 {
    margin-left: 41.666667%; }
  .offset-xs-6 {
    margin-left: 50%; }
  .offset-xs-7 {
    margin-left: 58.333333%; }
  .offset-xs-8 {
    margin-left: 66.666667%; }
  .offset-xs-9 {
    margin-left: 75%; }
  .offset-xs-10 {
    margin-left: 83.333333%; }
  .offset-xs-11 {
    margin-left: 91.666667%; } }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #f3f3f9;
  font-family: "Poppins", sans-serif; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

@font-face {
  font-family: hkgrotesk;
  src: url(../hkgrotesk-regular.ttf); }

.social, .main-content__github, .main-content__website, .main-content__dribble, .main-content__pinterest {
  margin-bottom: 16px; }
  .social i, .main-content__github i, .main-content__website i, .main-content__dribble i, .main-content__pinterest i {
    color: #fff;
    margin-right: 16px;
    padding: 10px;
    font-size: 16px;
    border-radius: 50%; }
  .social input, .main-content__github input, .main-content__website input, .main-content__dribble input, .main-content__pinterest input {
    color: #212529;
    border: 1px solid #a0a8c4;
    outline: none;
    width: calc(100% - 52px);
    padding: 8px 14.4px;
    border-radius: 4px; }
    .social input:focus, .main-content__github input:focus, .main-content__website input:focus, .main-content__dribble input:focus, .main-content__pinterest input:focus {
      box-shadow: 0 0 0 0 rgba(64, 81, 137, 0.25); }

.p24 {
  padding-right: 24px; }

.submit {
  margin-right: 10px; }

.cancel {
  color: #0AB39C;
  transition: color, background-color 0.2s ease-in-out;
  background-color: rgba(10, 179, 156, 0.1); }
  .cancel:hover {
    background-color: #0AB39C;
    color: #fff; }

.sidebar {
  position: absolute;
  top: 0;
  right: initial;
  bottom: initial;
  left: 0;
  background-color: #405189;
  width: 249px; }
  .sidebar h5 {
    color: #838FB9;
    text-transform: uppercase;
    padding: 12px 20px;
    font-size: 11px;
    letter-spacing: 0.05em; }
  .sidebar h6 {
    font-size: 15px;
    font-weight: 100;
    color: #abb9e8;
    font-family: "hkgrotesk", "Times New Roman", Times, serif; }
  .sidebar i {
    color: #abb9e8;
    font-size: 18px; }
  .sidebar li {
    justify-content: space-between;
    padding: 10px 10px 10px 24px; }
    .sidebar li > div {
      align-items: center; }
      .sidebar li > div i {
        margin-right: 10px;
        font-size: 16px; }
    .sidebar li:hover {
      cursor: pointer; }
      .sidebar li:hover i {
        color: #fff; }
      .sidebar li:hover h6 {
        color: #fff; }
        .sidebar li:hover h6::before {
          color: #fff; }
  .sidebar__logo {
    position: fixed;
    top: 0;
    right: initial;
    bottom: initial;
    left: 0;
    background-color: #405189;
    text-align: center;
    height: 70px;
    width: 249px;
    z-index: 5; }
    .sidebar__logo img {
      cursor: pointer;
      height: 17px;
      width: 100px;
      margin-top: 30px; }
  .sidebar__scroll {
    position: fixed;
    top: initial;
    right: initial;
    bottom: 0;
    left: 0;
    background-color: #405189;
    overflow-y: scroll;
    height: calc(100vh - 70px);
    width: 249px; }
    .sidebar__scroll::-webkit-scrollbar {
      width: 7px; }
    .sidebar__scroll::-webkit-scrollbar-track {
      background: #405189; }
    .sidebar__scroll::-webkit-scrollbar-thumb {
      visibility: hidden;
      background: #999;
      border-radius: 20px; }
    .sidebar__scroll:hover::-webkit-scrollbar-thumb {
      visibility: visible; }
    .sidebar__scroll > div > ul > ul {
      padding-left: 24px; }
      .sidebar__scroll > div > ul > ul li:nth-child(2) h6 {
        color: #fff; }
      .sidebar__scroll > div > ul > ul li:nth-child(2) i {
        color: #fff; }
      .sidebar__scroll > div > ul > ul > li {
        padding: 8.8px 0px; }
        .sidebar__scroll > div > ul > ul > li:nth-child(2) {
          padding: 8.8px 20px 8.8px 0px; }
        .sidebar__scroll > div > ul > ul > li h6 {
          font-family: "Poppins", sans-serif;
          font-size: 13px;
          font-weight: 400; }
          .sidebar__scroll > div > ul > ul > li h6::before {
            color: #838FB9;
            content: '-';
            margin-right: 15px; }
            .sidebar__scroll > div > ul > ul > li h6::before:hover {
              color: #fff; }
        .sidebar__scroll > div > ul > ul > li i {
          font-size: 16px; }
      .sidebar__scroll > div > ul > ul ul {
        padding-left: 20px; }
        .sidebar__scroll > div > ul > ul ul h6 {
          font-family: "Poppins", sans-serif;
          font-size: 13px;
          font-weight: 300; }
        .sidebar__scroll > div > ul > ul ul li {
          justify-content: initial;
          align-items: center;
          padding: 10px 0px; }
          .sidebar__scroll > div > ul > ul ul li i {
            padding-right: 15px;
            font-size: 5px; }

.upperarrow {
  position: fixed;
  top: initial;
  right: 28px;
  bottom: 100px;
  left: initial;
  background-color: #f06548;
  text-align: center;
  cursor: pointer;
  z-index: 10;
  height: 37.5px;
  width: 37.5px; }
  .upperarrow i {
    color: #fff;
    font-size: 10px;
    line-height: 37.5px; }

.setting {
  position: fixed;
  top: initial;
  right: 20px;
  bottom: 40px;
  left: initial;
  background-color: #299CDB;
  text-align: center;
  cursor: pointer;
  z-index: 10;
  height: 48.77px;
  width: 48.77px;
  border-radius: 50%; }
  .setting i {
    color: #fff;
    -webkit-animation: fa-spin 5s infinite;
    font-size: 20px;
    line-height: 50px; }

.main-content {
  position: absolute;
  top: 0;
  right: initial;
  bottom: initial;
  left: 0;
  margin-left: 249px;
  width: calc(100% - 249px); }
  .main-content__background {
    background: url("../img/profile-bg.jpg") no-repeat center center/cover;
    margin-top: 70px;
    height: 260px; }
    .main-content__background::before {
      background-color: #405189;
      content: '';
      position: absolute;
      height: 260px;
      width: 100%;
      opacity: 0.9; }
    .main-content__background a {
      font-size: 12.96px;
      font-weight: 400;
      color: #000; }
    .main-content__background i {
      color: #000;
      margin-right: 4px;
      font-size: 12.96px; }
    .main-content__background > div {
      position: absolute;
      top: 86px;
      right: 0;
      bottom: initial;
      left: initial;
      background-color: #fff;
      align-items: center;
      margin-right: 16px;
      padding: 8px 14.4px;
      border-radius: 4px;
      z-index: 11px; }
  .main-content__nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: initial;
    left: initial;
    background-color: #fff;
    justify-content: space-between;
    height: 70px;
    width: calc(100% - 249px);
    padding: 0 24px 0 12px;
    z-index: 10; }
  .main-content__left {
    align-items: center;
    height: 100%; }
    .main-content__left > i {
      color: #212529;
      cursor: pointer;
      padding: 4px 16px; }
    .main-content__left input {
      background-color: #f3f3f9;
      border: none;
      outline: none;
      height: 38px;
      width: 321px;
      padding: 8px 30px 8px 40px; }
    .main-content__left > div {
      position: relative;
      top: initial;
      right: initial;
      bottom: initial;
      left: initial; }
      .main-content__left > div i {
        position: absolute;
        top: 10px;
        right: initial;
        bottom: initial;
        left: 13px;
        color: #878a99;
        font-size: 16px; }
  .main-content__right {
    align-items: center;
    height: 100%; }
    .main-content__right > div {
      align-items: center;
      margin-left: 4px; }
      .main-content__right > div i {
        color: #495057;
        border-radius: 50%;
        padding: 13px; }
        .main-content__right > div i:hover {
          color: #3577f1;
          background-color: rgba(53, 119, 241, 0.1);
          cursor: pointer; }
      .main-content__right > div:first-child {
        padding: 8px 13px;
        border-radius: 50%; }
        .main-content__right > div:first-child:hover {
          color: #3577f1;
          background-color: rgba(53, 119, 241, 0.1);
          cursor: pointer; }
        .main-content__right > div:first-child img {
          height: 20px;
          width: 20px;
          margin-top: 5px; }
      .main-content__right > div:last-child {
        background-color: #f3f3f9;
        align-items: center;
        cursor: pointer;
        height: 100%;
        margin-left: 16px;
        padding: 8px 14.4px; }
        .main-content__right > div:last-child img {
          height: 32px;
          width: 32px;
          margin-right: 10px;
          border-radius: 50%; }
        .main-content__right > div:last-child h5 {
          font-size: 13px;
          font-weight: 500;
          color: #495057; }
        .main-content__right > div:last-child h6 {
          font-size: 12px;
          font-weight: 400;
          color: #878a99; }
  .main-content__shopping {
    position: relative;
    top: initial;
    right: initial;
    bottom: initial;
    left: initial; }
    .main-content__shopping i::after {
      font-size: 10px;
      font-weight: 600;
      position: absolute;
      top: initial;
      right: 2px;
      bottom: 30px;
      left: initial;
      background-color: #299CDB;
      color: #fff;
      content: '5';
      padding: 2px 6px;
      line-height: 15px;
      border-radius: 50%; }
  .main-content__notification {
    position: relative;
    top: initial;
    right: initial;
    bottom: initial;
    left: initial; }
    .main-content__notification::after {
      font-size: 10px;
      font-weight: 600;
      position: absolute;
      top: initial;
      right: 5px;
      bottom: 30px;
      left: initial;
      background-color: #f06548;
      color: #fff;
      content: '3';
      padding: 2px 6px;
      line-height: 15px;
      border-radius: 50%; }
  .main-content__setting {
    position: absolute;
    top: 282px;
    right: initial;
    bottom: initial;
    left: initial;
    margin: auto;
    height: 728px;
    width: 100%; }
    .main-content__setting > div {
      padding: 0 12px; }
      .main-content__setting > div > div {
        padding: 0 12px; }
  .main-content__intro {
    background-color: #fff;
    text-align: center;
    height: 234.5px;
    margin-bottom: 24px;
    padding: 24px;
    border-radius: 5px; }
    .main-content__intro > div {
      position: relative;
      top: initial;
      right: initial;
      bottom: initial;
      left: initial;
      margin: auto;
      height: 120px;
      width: 120px; }
      .main-content__intro > div i {
        position: absolute;
        top: initial;
        right: 0;
        bottom: 0;
        left: initial;
        background-color: #e9ebec;
        cursor: pointer;
        padding: 10px;
        font-size: 13px;
        border-radius: 50%; }
      .main-content__intro > div img {
        border: 5px solid #e9ebec;
        height: 120px;
        width: 120px;
        border-radius: 50%; }
    .main-content__intro h5 {
      font-size: 16px;
      font-weight: 600;
      color: #495057;
      margin-top: 20px; }
    .main-content__intro h6 {
      font-size: 13px;
      font-weight: 400;
      color: #878a99; }
  .main-content__profile {
    position: relative;
    top: initial;
    right: initial;
    bottom: initial;
    left: initial;
    background-color: #fff;
    text-align: center;
    height: 115.5px;
    margin-bottom: 24px;
    padding: 16px;
    border-radius: 5px; }
    .main-content__profile h5 {
      font-size: 16px;
      font-weight: 500;
      color: #495057; }
    .main-content__profile i {
      font-size: 12px; }
  .main-content__profile-title {
    justify-content: space-between; }
    .main-content__profile-title > div {
      font-size: 12px;
      font-weight: 600;
      color: #405189;
      background-color: rgba(64, 81, 137, 0.1);
      align-items: center;
      cursor: pointer;
      padding: 4.2px 7.8px;
      border-radius: 5px; }
      .main-content__profile-title > div i {
        margin-right: 10px; }
  .main-content__progress-bar {
    position: absolute;
    top: initial;
    right: initial;
    bottom: 16px;
    left: initial;
    background-color: #eff2f7;
    height: 15px;
    width: calc(100% - 32px);
    border-radius: 30px; }
    .main-content__progress-bar > div {
      position: absolute;
      top: 4px;
      right: initial;
      bottom: initial;
      left: 4px;
      background-color: #f06548;
      height: 7px;
      width: 30%;
      border-radius: 30px; }
      .main-content__progress-bar > div::after {
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: initial;
        left: initial;
        background-color: #fff;
        content: '';
        height: 3.5px;
        width: 3.5px;
        border-radius: 50%; }
    .main-content__progress-bar span {
      position: absolute;
      top: initial;
      right: initial;
      bottom: 25px;
      left: 27%;
      background-color: #405189;
      color: #fff;
      display: inline-block;
      animation: label 2s;
      padding: 4px 4px;
      font-size: 9.75px;
      border-radius: 4px; }
      .main-content__progress-bar span::before {
        position: absolute;
        top: 18px;
        right: 40%;
        bottom: initial;
        left: initial;
        background-color: #405189;
        content: '';
        height: 7px;
        width: 7px;
        transform: rotate(45deg); }
  .main-content__portfolio {
    background-color: #fff;
    text-align: center;
    height: 274.5px;
    padding: 16px;
    border-radius: 5px; }
    .main-content__portfolio > div:first-child {
      justify-content: space-between;
      padding-bottom: 24px; }
      .main-content__portfolio > div:first-child > div {
        font-size: 12px;
        font-weight: 600;
        color: #405189;
        background-color: rgba(64, 81, 137, 0.1);
        align-items: center;
        cursor: pointer;
        padding: 4.2px 7.8px;
        border-radius: 5px; }
        .main-content__portfolio > div:first-child > div h6 {
          font-size: 12px;
          font-weight: 600;
          color: #495057; }
        .main-content__portfolio > div:first-child > div i {
          font-size: 12px;
          font-weight: 600;
          margin-right: 10px; }
    .main-content__portfolio input {
      font-size: 12.96px;
      font-weight: 400;
      font-family: "Poppins", sans-serif; }
    .main-content__portfolio h5 {
      font-size: 16px;
      font-weight: 500;
      color: #495057; }
  .main-content__github i {
    background-color: #000; }
  .main-content__website i {
    background-color: #405189; }
  .main-content__dribble i {
    background-color: #0AB39C; }
  .main-content__pinterest {
    margin-bottom: 0; }
    .main-content__pinterest i {
      background-color: #f06548; }
  .main-content__update {
    background-color: #fff;
    height: 752px;
    margin-bottom: 24px;
    border-radius: 5px; }
    .main-content__update > div {
      border-bottom: 1px solid #e9ebec; }
    .main-content__update ul {
      margin: auto;
      width: 1183px; }
      .main-content__update ul li {
        cursor: pointer;
        padding: 16px; }
        .main-content__update ul li:first-child {
          border-bottom: 1px solid #405189; }
      .main-content__update ul a {
        font-size: 13px;
        font-weight: 500;
        color: #405189; }
  .main-content__form {
    padding: 24px; }
    .main-content__form > div {
      margin-bottom: 16px; }
      .main-content__form > div > div {
        width: 100%; }
        .main-content__form > div > div input {
          width: 100%; }
      .main-content__form > div:last-child {
        justify-content: flex-end; }
        .main-content__form > div:last-child button {
          font-size: 12.96px;
          font-weight: 400;
          color: #fff;
          background-color: #405189;
          cursor: pointer;
          display: inline-block;
          border: none;
          padding: 8px 14.4px;
          line-height: 1.5;
          border-radius: 4px; }
    .main-content__form .col-md-6,
    .main-content__form .col-md-4 {
      padding: 0; }
    .main-content__form label {
      font-size: 13px;
      font-weight: 500;
      display: block;
      margin-bottom: 8px; }
    .main-content__form input,
    .main-content__form textarea {
      font-size: 12.8px;
      font-weight: 400;
      font-family: "Poppins", sans-serif;
      color: #212529;
      border: 1px solid #ced4da;
      outline: none;
      width: 100%;
      padding: 8px 14.4px;
      border-radius: 4px;
      line-height: 1.5; }
    .main-content__form textarea {
      height: 76.5px; }
  .main-content__footer > div {
    background-color: #fff;
    padding: 20px 12px; }
  .main-content__footer h6 {
    font-size: 12.96px;
    font-weight: 400;
    color: #98a6ad; }
    .main-content__footer h6:last-child {
      text-align: end; }
